# Import library and set necessary configuration

In [18]:
import pandas as pd
import numpy as np
import plotly.express as px

In [19]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [20]:
import plotly.io as pio

# Create a custom theme and set it as default
pio.templates["custom"] = pio.templates["plotly_white"]
pio.templates["custom"].layout.margin = {'b': 25, 'l': 25, 'r': 25, 't': 50}
pio.templates["custom"].layout.width = 600
pio.templates["custom"].layout.height = 450
pio.templates["custom"].layout.autosize = False
pio.templates["custom"].layout.font.family="Arial"
pio.templates["custom"].layout.title.update({"x":0.5, "xref":"paper", "font_family":"Arial", "font_size":16})
pio.templates["custom"].layout.xaxis.update({"showline":True, "linecolor":"darkgray",})
pio.templates["custom"].layout.yaxis.update({"showline":True, "linecolor":"darkgray",})
pio.templates["custom"].layout.colorway = ['#1F77B4', '#FF7F0E', '#54A24B', '#D62728', '#C355FA',
                                           '#8C564B', '#E377C2', '#7F7F7F',"#FFE323", '#17BECF']
pio.templates.default = "custom"

# Data Preparation

### Food security dataset

In [21]:
food_security_10 = pd.read_csv('/content/drive/MyDrive/Malawi 2010-2019/hh_mod_h_10.csv')
food_security_10.head()

,HHID,case_id,qx_type,visit,ea_id,hh_h01,hh_h02a,hh_h02b,hh_h02c,hh_h02d,hh_h02e,hh_h03a,hh_h03b,hh_h04,hh_h05a_01,hh_h05a_02,hh_h05a_03,hh_h05a_04,hh_h05a_05,hh_h05a_06,hh_h05a_07,hh_h05a_08,hh_h05a_09,hh_h05a_10,hh_h05b_01,hh_h05b_02,hh_h05b_03,hh_h05b_04,hh_h05b_05,hh_h05b_06,hh_h05b_07,hh_h05b_08,hh_h05b_09,hh_h05b_10,hh_h05b_11,hh_h05b_12,hh_h05b_13,hh_h05b_14,hh_h05b_15,hh_h06a,hh_h06a_os,hh_h06b,hh_h06b_os,hh_h06c,hh_h06c_os
0,21,101012150001,Panel A,1,10101215,2,0,0,0,0,0,2.0,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17,101012150004,Panel A,1,10101215,2,0,0,0,0,0,2.0,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11,101012150021,Panel A,1,10101215,2,0,0,0,0,0,2.0,3.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,9.0,LACK OF LABOR,NaN,NaN
3,5,101012150022,Panel A,1,10101215,2,0,0,0,0,0,3.0,3.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
4,13,101012150026,Panel A,1,10101215,2,0,0,0,0,0,3.0,3.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
weighted_fs_10 = food_security_10[['case_id', 'ea_id', 'hh_h02a', 'hh_h02b', 'hh_h02c', 'hh_h02d', 'hh_h02e']]
weighted_fs_10[['hh_h02a', 'hh_h02b', 'hh_h02c', 'hh_h02d', 'hh_h02e']] = weighted_fs_10[['hh_h02a', 'hh_h02b', 'hh_h02c', 'hh_h02d', 'hh_h02e']].mul({'hh_h02a':1, 'hh_h02b':1, 'hh_h02c':2, 'hh_h02d':2, 'hh_h02e':2})
weighted_fs_10['total_score'] = weighted_fs_10[['hh_h02a', 'hh_h02b', 'hh_h02c', 'hh_h02d', 'hh_h02e']].sum(axis=1)
weighted_fs_10.head(20)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,case_id,ea_id,hh_h02a,hh_h02b,hh_h02c,hh_h02d,hh_h02e,total_score
0,101012150001,10101215,0,0,0,0,0,0
1,101012150004,10101215,0,0,0,0,0,0
2,101012150021,10101215,0,0,0,0,0,0
3,101012150022,10101215,0,0,0,0,0,0
4,101012150026,10101215,0,0,0,0,0,0
5,101012150028,10101215,0,0,0,0,0,0
6,101012150034,10101215,0,0,0,0,0,0
7,101012150038,10101215,0,0,0,0,0,0
8,101012150040,10101215,0,0,0,0,0,0
9,101012150045,10101215,0,0,0,0,0,0
10,101012150048,10101215,0,0,0,0,0,0
11,101012150049,10101215,0,0,0,0,0,0
12,101012150053,10101215,0,0,0,0,0,0
13,101012150059,10101215,3,3,8,0,0,14
14,101012150060,10101215,0,0,0,0,0,0
15,101012150074,10101215,4,3,14,4,0,25
16,101034140003,10103414,0,0,0,0,0,0
17,101034140009,10103414,7,7,14,0,0,28
18,101034140020,10103414,0,0,0,0,0,0
19,101034140025,10103414,0,0,0,0,0,0

In [23]:
weighted_fs_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1619 entries, 0 to 1618
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_id      1619 non-null   int64
 1   ea_id        1619 non-null   int64
 2   hh_h02a      1619 non-null   int64
 3   hh_h02b      1619 non-null   int64
 4   hh_h02c      1619 non-null   int64
 5   hh_h02d      1619 non-null   int64
 6   hh_h02e      1619 non-null   int64
 7   total_score  1619 non-null   int64
dtypes: int64(8)
memory usage: 101.3 KB

In [24]:
fig = px.histogram(weighted_fs_10['total_score'])
fig.show()

In [25]:
weighted_fs_10['total_score'].quantile(.8)

6.0

In [26]:
food_insecure_hh = weighted_fs_10[weighted_fs_10['total_score'] >= 6]
food_secure_hh = weighted_fs_10[weighted_fs_10['total_score'] < 6]
food_insecure_hh.shape

(344, 8)

In [27]:
# food_insecure_hh.to_csv('/content/Malawi2010-2019/food_insecure_hh_10.csv')

In [28]:
# food_secure_hh.to_csv('/content/Malawi2010-2019/food_secure_hh_10.csv')

In [29]:
fs_indicator_10 = weighted_fs_10[['case_id', 'total_score']]
fs_indicator_10.columns = ['case_id','fs_score']
fs_indicator_10['food_insecure'] = np.nan

def binarize_fs(fs_score):
    if fs_score >= 6:
        return 1
    else:
        return 0

fs_indicator_10['food_insecure'] = fs_indicator_10['fs_score'].apply(binarize_fs)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [30]:
fs_indicator_10.to_csv('/content/Malawi2010-2019/fs_indicator_10.csv')

##### 2013

In [31]:
food_security_13 = pd.read_csv('/content/drive/MyDrive/Malawi 2010-2019/hh_mod_h_13.csv')
food_security_13 = food_security_13.dropna(subset=['hh_h02a'])

In [32]:
weighted_fs_13 = food_security_13[['y2_hhid', 'hh_h02a', 'hh_h02b', 'hh_h02c', 'hh_h02d', 'hh_h02e']]
weighted_fs_13[['hh_h02a', 'hh_h02b', 'hh_h02c', 'hh_h02d', 'hh_h02e']] = weighted_fs_13[['hh_h02a', 'hh_h02b', 'hh_h02c', 'hh_h02d', 'hh_h02e']].mul({'hh_h02a':1, 'hh_h02b':1, 'hh_h02c':2, 'hh_h02d':2, 'hh_h02e':2})
weighted_fs_13['total_score'] = weighted_fs_13[['hh_h02a', 'hh_h02b', 'hh_h02c', 'hh_h02d', 'hh_h02e']].sum(axis=1)
weighted_fs_13.head(20)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     y2_hhid  hh_h02a  hh_h02b  hh_h02c  hh_h02d  hh_h02e  total_score
0   0001-001      4.0      4.0      8.0      8.0      4.0         28.0
1   0003-001      7.0      7.0      8.0      0.0      6.0         28.0
2   0005-001      0.0      0.0      0.0      0.0      0.0          0.0
3   0007-001      0.0      0.0      0.0      0.0      0.0          0.0
4   0009-001      0.0      0.0      0.0      0.0      0.0          0.0
5   0011-001      0.0      0.0      0.0      0.0      0.0          0.0
6   0011-004      3.0      0.0      0.0      0.0      0.0          3.0
7   0013-001      0.0      0.0      0.0      0.0      0.0          0.0
8   0015-001      0.0      0.0      0.0      0.0      0.0          0.0
9   0017-001      0.0      0.0      0.0      0.0      0.0          0.0
10  0019-001      0.0      0.0      0.0      0.0      0.0          0.0
11  0021-001      2.0      0.0      0.0      0.0      0.0          2.0
12  0023-001      0.0      0.0      0.0      0.0      0.0          0.0
13  0025-001      0.0      0.0      0.0      0.0      0.0          0.0
14  0027-001      0.0      0.0      0.0      0.0      0.0          0.0
15  0029-001      0.0      0.0      0.0      0.0      0.0          0.0
16  0031-001      2.0      3.0      0.0      0.0      0.0          5.0
17  0066-001      2.0      3.0      0.0      0.0      0.0          5.0
18  0068-001      0.0      1.0      2.0      0.0      0.0          3.0
19  0070-001      0.0      0.0      0.0      0.0      0.0          0.0

In [33]:
px.histogram(weighted_fs_13['total_score'])

In [34]:
weighted_fs_13['total_score'].quantile(.6)

2.0

In [35]:
fs_indicator_13 = weighted_fs_13[['y2_hhid', 'total_score']]
fs_indicator_13.columns = ['y2_hhid','fs_score']
fs_indicator_13['food_insecure'] = np.nan

def binarize_fs(fs_score):
    if fs_score >= 2:
        return 1
    else:
        return 0

fs_indicator_13['food_insecure'] = fs_indicator_13['fs_score'].apply(binarize_fs)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
fs_indicator_13.to_csv('/content/Malawi2010-2019/fs_indicator_13.csv')

##### 2016

In [37]:
food_security_16 = pd.read_csv('/content/drive/MyDrive/Malawi 2010-2019/hh_mod_h_16.csv')
food_security_16 = food_security_16.dropna(subset=['hh_h02d'])
food_security_16.head()

,y3_hhid,qx_type,interview_status,hh_h01,hh_h02a,hh_h02b,hh_h02c,hh_h02d,hh_h02e,hh_h03a,hh_h03b,hh_h03c,hh_h04,hh_h05a,hh_h05b,hh_h05c,hh_h05d,hh_h05e,hh_h05f,hh_h05g,hh_h05h,hh_h05i,hh_h05j,hh_h05k,hh_h05l,hh_h05m,hh_h05n,hh_h05o,hh_h05p,hh_h05q,hh_h05r,hh_h05s,hh_h05t,hh_h05u,hh_h05v,hh_h05w,hh_h05x,hh_h05y,hh_h06a,hh_h06b,hh_h06c,hh_h06_oth
0,0001-002,1,1,2,0,0,0,0.0,0,2,2.0,0.0,1,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,4.0,6.0,NaN,NaN
1,0003-001,1,1,1,0,0,7,0.0,0,2,2.0,2.0,1,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,1.0,NaN,NaN,NaN
2,0003-003,1,1,1,3,2,2,0.0,0,3,3.0,3.0,1,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,1.0,NaN,NaN,NaN
3,0004-001,1,1,2,0,0,0,0.0,0,3,3.0,0.0,1,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,4.0,1.0,5.0,NaN
4,0005-001,1,1,1,7,0,1,0.0,3,3,3.0,3.0,1,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,1.0,NaN,NaN,NaN

In [38]:
weighted_fs_16 = food_security_16[['y3_hhid', 'hh_h02a', 'hh_h02b', 'hh_h02c', 'hh_h02d', 'hh_h02e']]
weighted_fs_16[['hh_h02a', 'hh_h02b', 'hh_h02c', 'hh_h02d', 'hh_h02e']] = weighted_fs_16[['hh_h02a', 'hh_h02b', 'hh_h02c', 'hh_h02d', 'hh_h02e']].mul({'hh_h02a':1, 'hh_h02b':1, 'hh_h02c':2, 'hh_h02d':2, 'hh_h02e':2})
weighted_fs_16['total_score'] = weighted_fs_16[['hh_h02a', 'hh_h02b', 'hh_h02c', 'hh_h02d', 'hh_h02e']].sum(axis=1)
weighted_fs_16.head(20)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     y3_hhid  hh_h02a  hh_h02b  hh_h02c  hh_h02d  hh_h02e  total_score
0   0001-002        0        0        0      0.0        0          0.0
1   0003-001        0        0       14      0.0        0         14.0
2   0003-003        3        2        4      0.0        0          9.0
3   0004-001        0        0        0      0.0        0          0.0
4   0005-001        7        0        2      0.0        6         15.0
5   0006-001        5        0        0      0.0        2          7.0
6   0007-001        7        2       14      0.0        0         23.0
7   0008-001        0        0        0      0.0        0          0.0
8   0009-001        0        0        0      0.0        0          0.0
9   0010-001        0        0        0      0.0        0          0.0
10  0011-001        1        7        6      0.0        0         14.0
11  0012-001        4        0        4      0.0        0          8.0
12  0013-001        0        0        0      0.0        0          0.0
13  0014-001        0        0        0      0.0        0          0.0
14  0015-001        1        0        0      0.0        0          1.0
15  0015-002        3        2        0      0.0        0          5.0
16  0016-001        0        0        0      0.0        0          0.0
17  0017-001        4        4        4      0.0        0         12.0
18  0018-001        5        4       12      2.0        4         27.0
19  0018-002        4        7        6      4.0        4         25.0

In [39]:
px.histogram(weighted_fs_16['total_score'])

In [40]:
weighted_fs_16['total_score'].quantile(.6)

7.0

In [41]:
fs_indicator_16 = weighted_fs_16[['y3_hhid', 'total_score']]
fs_indicator_16.columns = ['y3_hhid','fs_score']
fs_indicator_16['food_insecure'] = np.nan

def binarize_fs(fs_score):
    if fs_score >= 7:
        return 1
    else:
        return 0

fs_indicator_16['food_insecure'] = fs_indicator_16['fs_score'].apply(binarize_fs)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [42]:
fs_indicator_16.to_csv('/content/Malawi2010-2019/fs_indicator_16.csv')

##### 2019

In [43]:
food_security_19 = pd.read_csv('/content/drive/MyDrive/Malawi 2010-2019/hh_mod_h_19.csv')
food_security_19 = food_security_19.dropna(subset=['hh_h02a'])
food_security_19.head()

,y4_hhid,qx_type,interview_status,hh_h01,hh_h02a,hh_h02b,hh_h02c,hh_h02d,hh_h02e,hh_h03a,hh_h03b,hh_h03c,hh_h04,hh_h05a,hh_h05b,hh_h05c,hh_h05d,hh_h05e,hh_h05f,hh_h05g,hh_h05h,hh_h05i,hh_h05j,hh_h05k,hh_h05l,hh_h05m,hh_h05n,hh_h05o,hh_h05p,hh_h05q,hh_h05r,hh_h05s,hh_h05t,hh_h05u,hh_h05v,hh_h05w,hh_h05x,hh_h05y,hh_h06a,hh_h06b,hh_h06c,hh_h06_oth
0,0001-002,1,1,2,2.0,2,0,0,0,3,3.0,NaN,1,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,4.0,NaN,NaN,NaN
1,0001-005,1,1,1,3.0,4,2,0,2,3,NaN,NaN,1,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,5.0,NaN,NaN,NaN
2,0002-001,1,1,2,0.0,0,0,0,0,3,3.0,3.0,2,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,NaN,NaN,NaN,NaN
3,0002-005,1,1,2,0.0,0,0,0,0,3,NaN,NaN,2,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,NaN,NaN,NaN,NaN
4,0002-006,1,1,2,0.0,0,0,0,0,3,3.0,3.0,2,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,X,NaN,NaN,NaN,NaN

In [44]:
weighted_fs_19 = food_security_19[['y4_hhid', 'hh_h02a', 'hh_h02b', 'hh_h02c', 'hh_h02d', 'hh_h02e']]
weighted_fs_19[['hh_h02a', 'hh_h02b', 'hh_h02c', 'hh_h02d', 'hh_h02e']] = weighted_fs_19[['hh_h02a', 'hh_h02b', 'hh_h02c', 'hh_h02d', 'hh_h02e']].mul({'hh_h02a':1, 'hh_h02b':1, 'hh_h02c':2, 'hh_h02d':2, 'hh_h02e':2})
weighted_fs_19['total_score'] = weighted_fs_19[['hh_h02a', 'hh_h02b', 'hh_h02c', 'hh_h02d', 'hh_h02e']].sum(axis=1)
weighted_fs_19.head(20)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     y4_hhid  hh_h02a  hh_h02b  hh_h02c  hh_h02d  hh_h02e  total_score
0   0001-002      2.0        2        0        0        0          4.0
1   0001-005      3.0        4        4        0        4         15.0
2   0002-001      0.0        0        0        0        0          0.0
3   0002-005      0.0        0        0        0        0          0.0
4   0002-006      0.0        0        0        0        0          0.0
5   0003-003      0.0        0        0        0        0          0.0
6   0004-001      2.0        2        0        0        2          6.0
7   0004-005      0.0        0        0        0        0          0.0
8   0005-001      0.0        0        0        0        0          0.0
9   0006-001      1.0        1        2        2        0          6.0
10  0007-001      0.0        0        0        0        0          0.0
11  0008-001      0.0        0        0        0        0          0.0
12  0009-001      7.0        0        6        0        0         13.0
13  0009-002      0.0        0        0       14        0         14.0
14  0010-001      0.0        0        0        0        0          0.0
15  0011-001      0.0        0        4        0        0          4.0
16  0012-001      3.0        1        6        0        0         10.0
17  0013-001      2.0        1        2        0        0          5.0
18  0013-004      2.0        0        0        0        0          2.0
19  0014-001      0.0        0        0        0        0          0.0

In [45]:
px.histogram(weighted_fs_19['total_score'])

In [46]:
weighted_fs_19['total_score'].quantile(.6)

4.0

In [47]:
fs_indicator_19 = weighted_fs_19[['y4_hhid', 'total_score']]
fs_indicator_19.columns = ['y4_hhid','fs_score']
fs_indicator_19['food_insecure'] = np.nan

def binarize_fs(fs_score):
    if fs_score >= 4:
        return 1
    else:
        return 0

fs_indicator_19['food_insecure'] = fs_indicator_19['fs_score'].apply(binarize_fs)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [48]:
fs_indicator_19.to_csv('/content/Malawi2010-2019/fs_indicator_19.csv')

### Household Identification

##### 2013

In [49]:
hh_data_13 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/hh_mod_a_filt_13.csv")

In [50]:
hh_data_13.head()

,occ,y2_hhid,HHID,case_id,ea_id,stratum,baseline_rural,panelweight,hh_wgt,region,district,reside,dist_to_IHS3location,hhsize,interview_status,qx_type,hh_a05,hh_a06,hh_a07a,hh_a10a,hh_a10b,hh_a16,hh_a21,hh_a23a_1,hh_a23a_2,hh_a23a_3,hh_a23a_4,hh_a23a_5,hh_a23a_6,hh_a23a_7,hh_a23a_8,hh_a23b_1,hh_a23b_2,hh_a23b_3,hh_a23b_4,hh_a23b_5,hh_a23b_6,hh_a23b_7,hh_a23b_8,hh_a23c_1,hh_a23c_2,hh_a23c_3,hh_a23c_4,hh_a23c_5,hh_a23c_6,hh_a23c_7,hh_a23c_8,hh_a24,hh_a26a,hh_a26b,hh_a26c,hh_a27,hh_a29a,hh_a29b,hh_a29c,hh_a30,hh_a33,hh_a35,hh_a37a_1,hh_a37a_2,hh_a37a_3,hh_a37a_4,hh_a37a_5,hh_a37a_6,hh_a37a_7,hh_a37a_8,hh_a37b_1,hh_a37b_2,hh_a37b_3,hh_a37b_4,hh_a37b_5,hh_a37b_6,hh_a37b_7,hh_a37b_8,hh_a38,hh_a40a,hh_a40b,hh_a40c,hh_a41,hh_a43,hh_a43a,hh_a43b,hh_a43c,hh_a44,hh_a46a,hh_a46b,hh_a46c,hh_g00_1,hh_g00_2,hh_g09,hh_m00,hh_o00,hh_s01
0,1,0001-001,1,101012150028,10101215,2,2,2876.952336,2876.952336,1,101,2,0.45,6,1,1,1.0,1.0,NaN,1.0,MWABULAMBIA,2.0,13,25.0,5,2013,7.0,22.0,8.0,26.0,A-X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,27.0,5.0,2013,19.0,29.0,5.0,2013,1.0,3.0,13.0,30.0,8.0,2013.0,7.0,11.0,7.0,37.0,A-X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,1.0,9.0,2013.0,19.0,19607.0,6.0,9.0,2013.0,911.0,9.0,10.0,2013.0,1,1,2.0,1.0,1,2
1,1,0003-001,3,101012150060,10101215,2,2,320.827667,444.562408,1,101,2,0.01,1,1,1,1.0,1.0,NaN,1.0,MWABULAMBIA,2.0,13,25.0,5,2013,11.0,34.0,12.0,16.0,A-X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,27.0,5.0,2013,19.0,29.0,5.0,2013,1.0,3.0,13.0,31.0,8.0,2013.0,9.0,0.0,9.0,30.0,A-X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,1.0,9.0,2013.0,19.0,19609.0,8.0,9.0,2013.0,911.0,9.0,10.0,2013.0,1,1,2.0,1.0,1,2
2,1,0005-001,5,101012150022,10101215,2,2,2977.748976,2977.748976,1,101,2,0.02,9,1,1,1.0,1.0,NaN,1.0,MWABULAMBIA,3.0,13,24.0,5,2013,9.0,19.0,10.0,25.0,A-X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,24.0,5.0,2013,19.0,29.0,5.0,2013,1.0,3.0,13.0,30.0,8.0,2013.0,9.0,12.0,9.0,40.0,A-X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,1.0,9.0,2013.0,19.0,19609.0,8.0,9.0,2013.0,911.0,9.0,10.0,2013.0,2,1,2.0,1.0,2,2
3,1,0007-001,7,101012150074,10101215,2,2,3056.674360,3056.674360,1,101,2,0.34,10,1,1,1.0,1.0,NaN,1.0,MWABULAMBYA,1.0,14,25.0,5,2013,9.0,0.0,9.0,53.0,ALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,27.0,5.0,2013,19.0,31.0,5.0,2013,1.0,1.0,21.0,30.0,8.0,2013.0,7.0,8.0,7.0,37.0,"A,B,B1-B8,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,1.0,9.0,2013.0,19.0,19609.0,8.0,9.0,2013.0,911.0,10.0,10.0,2013.0,2,2,1.0,1.0,2,2
4,1,0009-001,9,101012150038,10101215,2,2,2980.424443,2980.424443,1,101,2,0.93,2,1,1,1.0,1.0,NaN,1.0,MWABULAMBYA,1.0,14,24.0,5,2013,7.0,29.0,8.0,17.0,ALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,26.0,5.0,2013,19.0,30.0,5.0,2013,1.0,1.0,21.0,31.0,8.0,2013.0,9.0,45.0,9.0,51.0,"A,B&X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,1.0,9.0,2013.0,19.0,19609.0,8.0,9.0,2013.0,911.0,10.0,10.0,2013.0,1,1,1.0,1.0,2,2

In [51]:
imp_hh_data_13 = hh_data_13[['case_id','y2_hhid','reside', 'district']]
imp_hh_data_13.columns = ['case_id','y2_hhid', 'rural', 'city_code']
imp_hh_data_13['rural'] = imp_hh_data_13['rural'] - 1
city_dict = {101:"Chitipa", 102:"Karonga", 103:"Nkhatabay", 104:"Rumphi", 105:"Mzimba", 107:"Mzuzu City", 201:"Kasungu", 202:"Nkhota kota", 203:"Ntchisi", 204:"Dowa", 205:"Salima", 206:"Lilongwe", 207:"Mchinji", 208:"Dedza", 209:"Ntcheu", 210:"Lilongwe City", 301:"Mangochi", 302:"Machinga", 303:"Zomba", 304:"Chiradzulu", 305:"Blanytyre", 306:"Mwanza", 307:"Thyolo", 308:"Mulanje", 309:"Phalombe", 310:"Chikwawa", 311:"Nsanje", 312:"Balaka", 313:"Neno", 314:"Zomba City", 315:"Blantyre City"}
imp_hh_data_13['city_name'] = imp_hh_data_13['city_code'].replace(city_dict)
imp_hh_data_13.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        case_id   y2_hhid  rural  city_code city_name
0  101012150028  0001-001      1        101   Chitipa
1  101012150060  0003-001      1        101   Chitipa
2  101012150022  0005-001      1        101   Chitipa
3  101012150074  0007-001      1        101   Chitipa
4  101012150038  0009-001      1        101   Chitipa
5  101012150021  0011-001      1        101   Chitipa
6  101012150021  0011-004      0        102   Karonga
7  101012150026  0013-001      0        101   Chitipa
8  101012150045  0015-001      1        101   Chitipa
9  101012150004  0017-001      1        101   Chitipa

In [52]:
imp_hh_data_13.to_csv("/content/Malawi2010-2019/imp_hh_data_13.csv")

##### 2016

In [53]:
hh_data_16 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/hh_mod_a_filt_16.csv")

In [54]:
hh_data_16.head()

,y3_hhid,y2_hhid,HHID,case_id,ea_id,panelweight_2016,panelweight_2013,hh_wgt,region,district,ta_code,reside,dist_to_IHS3location,dist_to_IHPSlocation,hhsize,interview_status,qx_type,mover,consent,hh_a11,hh_a22,hh_a23,hh_a31,hh_a37,hh_a40,interviewdate_v1,interviewdate_v2,hh_g09,hh_m00,hh_o0a,hh_s01,hh_w01,consumption_date
0,0001-002,0001-001,1,101012150028,10101215,2876.952336,2876.952336,2876.952336,1,101,1,2,0.47,0.03,4,1,1,0.0,1.0,1,10.0,1.0,1.0,2,10.0,2016-05-15,2016-09-26,2,1,2,2,1,2016-05-15
1,0003-001,0005-001,5,101012150022,10101215,1240.728740,NaN,2977.748976,1,101,1,2,0.04,0.01,8,1,1,0.0,1.0,1,10.0,83.0,1.0,4,10.0,2016-05-16,2016-09-26,2,1,1,2,2,2016-05-16
2,0003-003,0005-001,5,101012150022,10101215,248.145748,2977.748976,2977.748976,1,101,1,2,8.22,8.23,3,1,1,1.0,1.0,3,10.0,83.0,1.0,2,10.0,2016-06-21,2016-09-27,1,1,2,1,2,2016-06-21
3,0004-001,0007-001,7,101012150074,10101215,3056.674360,3056.674360,3056.674360,1,101,1,2,0.34,0.02,8,1,1,0.0,1.0,1,10.0,2.0,1.0,83,10.0,2016-05-16,2016-09-26,2,1,1,2,2,2016-05-16
4,0005-001,0009-001,9,101012150038,10101215,1490.212221,2980.424443,2980.424443,1,101,1,2,0.85,0.31,4,1,1,1.0,1.0,2,10.0,4.0,1.0,2,10.0,2016-05-16,2016-09-26,2,1,2,2,2,2016-05-16

In [55]:
imp_hh_data_16 = hh_data_16[['case_id','y3_hhid','reside', 'district']]
imp_hh_data_16.columns = ['case_id','y3_hhid', 'rural', 'city_code']
imp_hh_data_16['rural'] = imp_hh_data_16['rural'] - 1
city_dict = {101:"Chitipa", 102:"Karonga", 103: "Nkhatabay", 104:"Rumphi", 105:"Mzimba", 107:"Mzuzu City", 201:"Kasungu", 202:"Nkhota kota", 203:"Ntchisi", 204:"Dowa", 205:"Salima", 206:"Lilongwe", 207:"Mchinji", 208:"Dedza", 209:"Ntcheu", 210:"Lilongwe City", 301:"Mangochi", 302:"Machinga", 303:"Zomba", 304:"Chiradzulu", 305:"Blanytyre", 306:"Mwanza", 307:"Thyolo", 308:"Mulanje", 309:"Phalombe", 310:"Chikwawa", 311:"Nsanje", 312:"Balaka", 313:"Neno", 314:"Zomba City", 315:"Blantyre City"}
imp_hh_data_16['city_name'] = imp_hh_data_16['city_code'].replace(city_dict)
imp_hh_data_16.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        case_id   y3_hhid  rural  city_code city_name
0  101012150028  0001-002      1        101   Chitipa
1  101012150022  0003-001      1        101   Chitipa
2  101012150022  0003-003      1        101   Chitipa
3  101012150074  0004-001      1        101   Chitipa
4  101012150038  0005-001      1        101   Chitipa

In [56]:
imp_hh_data_16.to_csv("/content/Malawi2010-2019/imp_hh_data_16.csv")

##### 2019

In [57]:
hh_data_19 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/hh_mod_a_filt_19.csv")

In [58]:
hh_data_19.head()

,y4_hhid,y3_hhid,HHID,case_id,ea_id,panelweight_2019,panelweight_2016,panelweight_2013,hh_wgt,region,district,ta_code,reside,dist_to_IHPS2016location,dist_to_IHPSlocation,dist_to_IHS3location,hhsize,interview_status,qx_type,consent,hh_a11,hh_a22,hh_a23,hh_a31,hh_a37,hh_a40,interviewdate_v1,interviewdate_v2,hh_g09,hh_m00,hh_o0a,hh_s01,hh_w01,consumption_date
0,0001-002,0001-002,1,101012150028,10101215,735.838877,2876.952336,2876.952336,2876.952336,100,101,10101.0,2,0.0,0.0,0.0,5,1,1,1,1,14.0,64.0,1.0,30.0,14.0,2019-05-25,2019-08-26,2.0,1,1,2,2,2019-05-25
1,0001-005,0001-002,1,101012150028,10101215,244.750435,2876.952336,2876.952336,2876.952336,100,101,10120.0,1,24.0,24.0,24.0,2,1,1,1,1,14.0,64.0,1.0,30.0,14.0,2019-06-01,2019-10-23,2.0,1,2,2,2,2019-06-01
2,0002-001,0003-001,5,101012150022,10101215,417.171391,1240.728740,NaN,2977.748976,100,101,10101.0,2,0.0,0.0,0.0,7,1,1,1,1,14.0,58.0,1.0,30.0,14.0,2019-05-25,2019-08-26,1.0,1,1,1,2,2019-05-26
3,0002-005,0003-001,5,101012150022,10101215,138.626168,1240.728740,NaN,2977.748976,100,101,10101.0,2,0.0,0.0,0.0,2,1,1,1,1,14.0,58.0,1.0,58.0,14.0,2019-05-31,2019-08-26,2.0,1,2,1,2,2019-05-31
4,0002-006,0003-001,5,101012150022,10101215,139.057130,1240.728740,NaN,2977.748976,100,101,10101.0,2,16.0,16.0,16.0,3,1,1,1,2,14.0,30.0,1.0,30.0,14.0,2019-05-27,2019-08-27,2.0,1,2,2,2,2019-05-27

In [59]:
imp_hh_data_19 = hh_data_19[['case_id','y4_hhid','reside', 'district']]
imp_hh_data_19.columns = ['case_id','y4_hhid', 'rural', 'city_code']
imp_hh_data_19['rural'] = imp_hh_data_19['rural'] - 1
city_dict = {101:"Chitipa", 102:"Karonga", 103: "Nkhatabay", 104:"Rumphi", 105:"Mzimba", 107:"Mzuzu City", 201:"Kasungu", 202:"Nkhota kota", 203:"Ntchisi", 204:"Dowa", 205:"Salima", 206:"Lilongwe", 207:"Mchinji", 208:"Dedza", 209:"Ntcheu", 210:"Lilongwe City", 301:"Mangochi", 302:"Machinga", 303:"Zomba", 304:"Chiradzulu", 305:"Blanytyre", 306:"Mwanza", 307:"Thyolo", 308:"Mulanje", 309:"Phalombe", 310:"Chikwawa", 311:"Nsanje", 312:"Balaka", 313:"Neno", 314:"Zomba City", 315:"Blantyre City"}
imp_hh_data_19['city_name'] = imp_hh_data_19['city_code'].replace(city_dict)
imp_hh_data_19.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        case_id   y4_hhid  rural  city_code city_name
0  101012150028  0001-002      1        101   Chitipa
1  101012150028  0001-005      0        101   Chitipa
2  101012150022  0002-001      1        101   Chitipa
3  101012150022  0002-005      1        101   Chitipa
4  101012150022  0002-006      1        101   Chitipa

In [60]:
imp_hh_data_19.sum()

case_id                                        760202637545846
y4_hhid      0001-0020001-0050002-0010002-0050002-0060003-0...
rural                                                     2355
city_code                                               756987
city_name    ChitipaChitipaChitipaChitipaChitipaChitipaChit...
dtype: object

In [61]:
imp_hh_data_19.to_csv("/content/Malawi2010-2019/imp_hh_data_19.csv")

### Housing

##### 2013

In [62]:
housing_13 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/hh_mod_f_13.csv")
housing_13 = housing_13.dropna(subset=['hh_f34'])
housing_13.head()

,occ,y2_hhid,qx_type,interview_status,hh_f01,hh_f02,hh_f03a,hh_f03b,hh_f04a,hh_f04b,hh_f05,hh_f06,hh_f07,hh_f08,hh_f09,hh_f10,hh_f11,hh_f12,hh_f13,hh_f14,hh_f15,hh_f16a,hh_f16b,hh_f17,hh_f18,hh_f19,hh_f20a,hh_f20b,hh_f21,hh_f22,hh_f22a,hh_f22b,hh_f23,hh_f24,hh_f25,hh_f26a,hh_f26b,hh_f27,hh_f28,hh_f29,hh_f30,hh_f34,hh_f35,hh_f36,hh_f37,hh_f38a,hh_f38b,hh_f39,hh_f40,hh_f41,hh_f42,hh_f43,hh_f44,hh_f45,hh_f46,hh_f47,hh_f48,hh_f49,hh_f50,hh_f51a,hh_f51b,hh_f51c,hh_f52,hh_f53,hh_f54,hh_f55a,hh_f55b,hh_f55c
0,1,0001-001,1,1,1,10000.0,400.0,5.0,NaN,NaN,4,2,5,1,2.0,1,7,1.0,NaN,NaN,2.0,200.0,1.0,1.0,100.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,0.0,NaN,9,0.0,400.0,1.0,1,NaN,3,1.0,4.0,2,NaN,NaN,NaN,2,NaN,2.0,NaN,NaN,NaN,2.0,NaN,2.0,NaN,NaN,NaN
1,1,0003-001,1,1,1,10000.0,1000.0,5.0,NaN,NaN,4,2,5,1,2.0,1,7,1.0,NaN,NaN,2.0,100.0,1.0,1.0,100.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,0.0,NaN,9,0.0,100.0,1.0,1,NaN,2,1.0,4.0,1,2.0,2.0,NaN,2,NaN,2.0,NaN,NaN,NaN,2.0,NaN,2.0,NaN,NaN,NaN
2,1,0005-001,1,1,1,30000.0,1500.0,5.0,NaN,NaN,5,2,5,1,2.0,2,7,1.0,NaN,NaN,2.0,100.0,1.0,7.0,350.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,0.0,NaN,8,0.0,200.0,1.0,1,NaN,3,1.0,4.0,1,2.0,2.0,NaN,2,NaN,2.0,NaN,NaN,NaN,2.0,NaN,2.0,NaN,NaN,NaN
3,1,0007-001,1,1,1,80000.0,8000.0,5.0,NaN,NaN,10,2,5,1,2.0,4,7,1.0,NaN,NaN,1.0,100.0,1.0,7.0,6000.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,0.0,NaN,8,0.0,250.0,1.0,1,NaN,3,1.0,6.0,2,NaN,NaN,NaN,2,NaN,2.0,NaN,NaN,NaN,2.0,NaN,2.0,NaN,NaN,NaN
4,1,0009-001,1,1,1,50000.0,5000.0,5.0,NaN,NaN,4,3,3,1,2.0,1,9,1.0,NaN,NaN,2.0,20.0,2.0,7.0,600.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,0.0,NaN,8,0.0,50.0,1.0,1,NaN,1,1.0,6.0,2,NaN,NaN,NaN,2,NaN,2.0,NaN,NaN,NaN,2.0,NaN,2.0,NaN,NaN,NaN

In [63]:
imp_housing_13 = housing_13[['y2_hhid','hh_f06', 'hh_f19', 'hh_f34']]
def replacer(text):
    if text != 1:
        return 0
    else:
        return 1

def replacer2(text):
    if text != 0:
        return 1
    else: 
        return 0

imp_housing_13['permanent_cons'] = imp_housing_13['hh_f06'].apply(replacer)
imp_housing_13['elect'] = imp_housing_13['hh_f19'].apply(replacer)
imp_housing_13['cellphone'] = imp_housing_13['hh_f34'].apply(replacer2)
imp_housing_13 = imp_housing_13.drop(columns=['hh_f06', 'hh_f19', 'hh_f34'])
imp_housing_13.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    y2_hhid  permanent_cons  elect  cellphone
0  0001-001               0      0          0
1  0003-001               0      0          0
2  0005-001               0      0          0
3  0007-001               0      0          0
4  0009-001               0      0          0

In [64]:
imp_housing_13.to_csv('/content/Malawi2010-2019/imp_housing_13.csv')

##### 2016

In [65]:
housing_16 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/hh_mod_f_16.csv")
housing_16.head()

,y3_hhid,qx_type,interview_status,hh_f01,hh_f01_1a,hh_f01_1b,hh_f01_1c,hh_f01_1d,hh_f01_1filter,hh_f01_1b__0,hh_f01_1b__1,hh_f01_2,hh_f01_2_oth,hh_f01_3,hh_f01_4a,hh_f01_4b,hh_f01_4c,hh_f01_4d,hh_f01_5a,hh_f01_5b,hh_f01_5c,hh_f01_5d,hh_f01_5filter,hh_f01_5b__0,hh_f01_5b__1,hh_f01_6__0,hh_f01_6__1,hh_f01_6__2,hh_f01_6__3,hh_f01_6b__0,hh_f01_6b__1,hh_f02,hh_f03a,hh_f03b,hh_f04_1,hh_f04_2a_1,hh_f04_2a_2,hh_f04_2b_1,hh_f04_2b_2,hh_f04_3,hh_f04_4,hh_f04_5,hh_f04_6,hh_f04a,hh_f04b,hh_f05,hh_f06,hh_f07,hh_f07_oth,hh_f08,hh_f08_oth,hh_f09,hh_f09_oth,hh_f10,hh_f11,hh_f11_oth,hh_f12,hh_f12_oth,hh_f13,hh_f14,hh_f15,hh_f15_oth,hh_f16a,hh_f16b,hh_f17,hh_f18,hh_f19,hh_f20a,hh_f20a_oth,hh_f20b,hh_f20b_oth,hh_f21,hh_f22,hh_f23,hh_f24,hh_f25,hh_f26_1,hh_f26_2,hh_f26a,hh_f26b,hh_f27,hh_f29,hh_f29_oth,hh_f30,hh_f31,hh_f32,hh_f33a,hh_f33b,hh_f34,hh_f35,hh_f36,hh_f36_oth,hh_f37,hh_f38a,hh_f38b,hh_f39,hh_f40,hh_f41,hh_f41_oth,hh_f42,hh_f43,hh_f43_oth,hh_f44,hh_f45,hh_f47,hh_f48,hh_f49,hh_f50,hh_f51a,hh_f51b,hh_f51c,hh_f52,hh_f53,hh_f54,hh_f55a,hh_f55b,hh_f55c
0,0001-002,1,1,1,1.0,NaN,NaN,NaN,2.0,NaN,NaN,3.0,NaN,2.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,40000.0,2000.0,5.0,1,0.50,1.0,0.02,1.0,2.0,NaN,2.0,NaN,NaN,NaN,7,3,5,NaN,1,NaN,2,NaN,3,7,NaN,1,NaN,NaN,NaN,5.0,FOREST RESERVE,NaN,NaN,NaN,500.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2,NaN,NaN,NaN,0,NaN,10,NaN,0.0,10.0,1.0,1,NaN,4.0,NaN,1.0,6,NaN,2,NaN,NaN,2.0,NaN,2,NaN,NaN,NaN,2,NaN,2,NaN,NaN,NaN
1,0003-001,1,1,1,1.0,2.0,NaN,NaN,2.0,NaN,NaN,3.0,NaN,2.0,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,2.0,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,50000.0,3000.0,5.0,1,1.00,1.0,0.01,1.0,2.0,NaN,2.0,NaN,NaN,NaN,8,2,5,NaN,1,NaN,2,NaN,2,7,NaN,1,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,1000.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2,NaN,NaN,NaN,1,2000.0,10,NaN,0.0,55.0,1.0,1,NaN,4.0,NaN,1.0,2,NaN,1,1.0,NaN,2.0,NaN,2,NaN,NaN,NaN,2,NaN,2,NaN,NaN,NaN
2,0003-003,1,1,1,1.0,NaN,NaN,NaN,2.0,NaN,NaN,3.0,NaN,2.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,50000.0,1000.0,5.0,1,0.25,1.0,0.02,1.0,2.0,NaN,2.0,NaN,NaN,NaN,5,2,5,NaN,1,NaN,2,NaN,2,7,NaN,1,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,1000.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2,NaN,NaN,NaN,0,NaN,8,NaN,0.0,14.0,1.0,1,NaN,3.0,NaN,1.0,6,NaN,1,1.0,1.0,2.0,NaN,2,NaN,NaN,NaN,2,NaN,2,NaN,NaN,NaN
3,0004-001,1,1,1,1.0,2.0,NaN,NaN,2.0,NaN,NaN,3.0,NaN,2.0,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,2.0,NaN,NaN,1.0,2.0,NaN,NaN,5.0,NaN,400000.0,3000.0,5.0,1,0.50,1.0,0.15,1.0,2.0,NaN,2.0,NaN,NaN,NaN,5,1,5,NaN,2,NaN,3,NaN,5,7,NaN,1,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,500.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2,NaN,NaN,NaN,1,1000.0,10,NaN,0.0,20.0,1.0,3,8.0,3.0,NaN,1.0,2,NaN,1,1.0,NaN,2.0,NaN,2,NaN,NaN,NaN,2,NaN,2,NaN,NaN,NaN
4,0005-001,1,1,1,1.0,NaN,NaN,NaN,2.0,NaN,NaN,3.0,NaN,2.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,100000.0,2500.0,5.0,1,0.10,1.0,0.02,1.0,2.0,NaN,2.0,NaN,NaN,NaN,20,3,5,NaN,1,NaN,2,NaN,2,7,NaN,1,NaN,NaN,NaN,5.0,COMMUNITY,NaN,NaN,NaN,1000.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2,NaN,NaN,NaN,0,NaN,10,NaN,0.0,10.0,1.0,1,NaN,3.0,NaN,1.0,2,NaN,1,1.0,1.0,2.0,NaN,2,NaN,NaN,NaN,2,NaN,2,NaN,NaN,NaN

In [66]:
imp_housing_16 = housing_16[['y3_hhid','hh_f06', 'hh_f19', 'hh_f34']]
def replacer(text):
    if text != 1:
        return 0
    else:
        return 1

def replacer2(text):
    if text != 0:
        return 1
    else: 
        return 0

imp_housing_16['permanent_cons'] = imp_housing_16['hh_f06'].apply(replacer)
imp_housing_16['elect'] = imp_housing_16['hh_f19'].apply(replacer)
imp_housing_16['cellphone'] = imp_housing_16['hh_f34'].apply(replacer2)
imp_housing_16 = imp_housing_16.drop(columns=['hh_f06', 'hh_f19', 'hh_f34'])
imp_housing_16.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    y3_hhid  permanent_cons  elect  cellphone
0  0001-002               0      0          0
1  0003-001               0      0          1
2  0003-003               0      0          0
3  0004-001               1      0          1
4  0005-001               0      0          0

In [67]:
imp_housing_16.to_csv('/content/Malawi2010-2019/imp_housing_16.csv')

##### 2019

In [68]:
housing_19 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/hh_mod_f_19.csv")
housing_19.head()

,y4_hhid,qx_type,interview_status,hh_f01,hh_f01_1a,hh_f01_1b,hh_f01_1c,hh_f01_1d,hh_f01_1filter,hh_f01_1b__0,hh_f01_1b__1,hh_f01_2,hh_f01_2_oth,hh_f01_3,hh_f02,hh_f03a,hh_f03b,hh_f04a,hh_f04b,hh_f04_3,hh_f04_4,hh_f04_5,hh_f04_6,hh_f05,hh_f06,hh_f07,hh_f07_oth,hh_f08,hh_f08_oth,hh_f09,hh_f09_oth,hh_f10,hh_f11,hh_f11_oth,hh_f12,hh_f12_oth,hh_f13,hh_f14,hh_f15,hh_f15_oth,hh_f16a,hh_f16b,hh_f17,hh_f18,hh_f19,hh_f20a,hh_f20a_oth,hh_f20b,hh_f20b_oth,hh_f21,hh_f22,hh_f23,hh_f24,hh_f25,hh_f26a,hh_f26b,hh_f26_1,hh_f26_2,hh_f27,hh_f29,hh_f29_oth,hh_f30a,hh_f30b,hh_f31,hh_f32,hh_f33a,hh_f33b,hh_f34,hh_f35,hh_f35_1,hh_f35_2,hh_f35_3,hh_f36,hh_f36_oth,hh_f36_1,hh_f36_1oth,hh_f37,hh_f38a,hh_f38b,hh_f38_1a,hh_f38_1b,hh_f39,hh_f40,hh_f40_1,hh_f40_2,hh_f40_2_oth,hh_f40_3,hh_f40_4,hh_f41,hh_f41_oth,hh_f41b,hh_f41_1,hh_f41_2,hh_f41_2oth,hh_f41_3,hh_f41_4,hh_f41_5,hh_f41_6,hh_f42_1,hh_f43,hh_f43_oth,hh_f44,hh_f45,hh_f47,hh_f48,hh_f49,hh_f50,hh_f51a,hh_f51b,hh_f51c,hh_f52,hh_f53,hh_f54,hh_f55a,hh_f55b,hh_f55c
0,0001-002,1,1,1,1.0,NaN,NaN,NaN,2.0,NaN,NaN,5.0,NaN,2.0,300000.0,2000.0,5.0,NaN,NaN,2,NaN,2,NaN,17.0,1,5,NaN,2,NaN,2,NaN,4,7,NaN,1,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,1000.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,8,NaN,10,NaN,0,10,1.0,3.0,1.0,1.0,NaN,2,NaN,NaN,NaN,NaN,8.0,NaN,1.0,2.0,NaN,NaN,2.0,2.0,NaN,NaN,2.0,6.0,NaN,1.0,2.0,1.0,2.0,NaN,2.0,NaN,NaN,NaN,2.0,NaN,2.0,NaN,NaN,NaN
1,0001-005,1,1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1600.0,5.0,2,NaN,2,NaN,999.0,1,5,NaN,2,NaN,2,NaN,3,7,NaN,6,NaN,1.0,1.0,4.0,NaN,45.0,1.0,7.0,200.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,2,NaN,NaN,NaN,1,1700.0,500.0,0.0,1200.0,8,NaN,8,NaN,1000,5,1.0,15.0,1.0,1.0,NaN,2,NaN,NaN,NaN,NaN,8.0,NaN,1.0,2.0,NaN,NaN,2.0,1.0,2.0,NaN,3.0,2.0,NaN,1.0,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,2.0,NaN,2.0,NaN,NaN,NaN
2,0002-001,1,1,1,1.0,NaN,NaN,NaN,2.0,NaN,NaN,5.0,NaN,2.0,100000.0,4000.0,5.0,NaN,NaN,2,NaN,2,NaN,11.0,3,5,NaN,1,NaN,2,NaN,3,7,NaN,1,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,1500.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,8,NaN,10,NaN,0,20,1.0,20.0,1.0,1.0,NaN,2,NaN,NaN,NaN,NaN,7.0,NaN,1.0,2.0,NaN,NaN,1.0,2.0,NaN,NaN,1.0,1.0,NaN,1.0,3.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,2.0,NaN,2.0,NaN,NaN,NaN
3,0002-005,1,1,1,1.0,NaN,NaN,NaN,2.0,NaN,NaN,5.0,NaN,2.0,300000.0,5000.0,5.0,NaN,NaN,2,NaN,2,NaN,2.0,3,4,NaN,1,NaN,2,NaN,3,7,NaN,1,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,2000.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,8,NaN,8,NaN,0,10,1.0,10.0,1.0,1.0,NaN,1,3.0,NaN,1.0,1.0,7.0,NaN,1.0,2.0,NaN,NaN,1.0,2.0,NaN,NaN,1.0,1.0,NaN,1.0,3.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,2.0,NaN,2.0,NaN,NaN,NaN
4,0002-006,1,1,1,1.0,NaN,NaN,NaN,2.0,NaN,NaN,5.0,NaN,2.0,50000.0,5000.0,5.0,NaN,NaN,2,NaN,2,NaN,5.0,2,5,NaN,1,NaN,2,NaN,2,7,NaN,1,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,300.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,8,NaN,8,NaN,0,10,1.0,2.0,1.0,1.0,NaN,2,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0,1.0,1.0,2.0,NaN,2.0,NaN,NaN,NaN,2.0,NaN,2.0,NaN,NaN,NaN

In [69]:
imp_housing_19 = housing_19[['y4_hhid','hh_f06', 'hh_f19', 'hh_f34']]
def replacer(text):
    if text != 1:
        return 0
    else:
        return 1

def replacer2(text):
    if text != 0:
        return 1
    else: 
        return 0

imp_housing_19['permanent_cons'] = imp_housing_19['hh_f06'].apply(replacer)
imp_housing_19['elect'] = imp_housing_19['hh_f19'].apply(replacer)
imp_housing_19['cellphone'] = imp_housing_19['hh_f34'].apply(replacer2)
imp_housing_19 = imp_housing_19.drop(columns=['hh_f06', 'hh_f19', 'hh_f34'])
imp_housing_19.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    y4_hhid  permanent_cons  elect  cellphone
0  0001-002               1      0          0
1  0001-005               1      0          1
2  0002-001               0      0          0
3  0002-005               0      0          0
4  0002-006               0      0          0

In [70]:
imp_housing_19.to_csv('/content/Malawi2010-2019/imp_housing_19.csv')

### Household Roster (Household breadwinner gender)

##### 2013

In [71]:
roster_13 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/hh_mod_b_13.csv")
roster_13.head()

,occ,y2_hhid,PID,qx_type,interview_status,hhmember,baselinemember,hhsize,baselinemembercount,individualmover,moverbasehh,hh_b01,hh_b03,hh_b04,hh_b05a,hh_b05b,hh_b06a,hh_b06b,hh_b06_1,hh_b06_2,hh_b06_3a,hh_b06_3b,hh_b07,hh_b08,hh_b09,hh_b10a,hh_b10b,hh_b11,hh_b12,hh_b13,hh_b14,hh_b15a,hh_b15b,hh_b16,hh_b19,hh_b22,hh_b22_2,hh_b22_3,hh_b22_4,hh_b23,hh_b24,hh_b25,hh_b26a,hh_b26b,hh_b26c,hh_b27,hh_b28
0,1,0001-001,101,1,1,1,1,6,6,0,NaN,1,1,1.0,70.0,NaN,9.0,1942.0,1,1.0,70.0,NaN,0.0,7.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,98.0,98.0,11.0,1.0,1.0,1.0,3.0,1.0,1.0,2.0,NaN,NaN,2.0,NaN
1,2,0001-001,102,1,1,1,1,6,6,0,NaN,2,2,2.0,68.0,NaN,2.0,1945.0,2,1.0,68.0,NaN,0.0,7.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,98.0,98.0,NaN,1.0,1.0,1.0,3.0,1.0,1.0,1.0,NaN,NaN,2.0,NaN
2,3,0001-001,103,1,1,1,1,6,6,0,NaN,3,2,3.0,23.0,NaN,3.0,1990.0,3,1.0,23.0,NaN,0.0,7.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,2.0,NaN,1.0,1.0,1.0,3.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0001-001,104,1,1,1,1,6,6,0,NaN,4,2,3.0,16.0,NaN,2.0,1997.0,4,1.0,16.0,NaN,0.0,7.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,2.0,NaN,1.0,1.0,1.0,3.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0001-001,105,1,1,1,1,6,6,0,NaN,5,2,3.0,12.0,NaN,1.0,2001.0,5,1.0,12.0,NaN,0.0,7.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,2.0,NaN,1.0,1.0,1.0,3.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
imp_roster_13 = roster_13[['y2_hhid', 'hh_b03', 'hh_b04']]
imp_roster_13.columns = ['y2_hhid', 'male', 'breadwinner']
imp_roster_13['male'] = imp_roster_13['male'].replace(2,0)

def replacer(text):
    if text != 1:
        return 0
    else:
        return 1

imp_roster_13['breadwinner'] = imp_roster_13['breadwinner'].apply(replacer)
breadwinner_sex_13 = imp_roster_13[imp_roster_13['breadwinner'] == 1][['y2_hhid', 'male']]
breadwinner_sex_13.to_csv('/content/Malawi2010-2019/breadwinner_sex_13.csv')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### 2016

In [73]:
roster_16 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/hh_mod_b_16.csv")
roster_16.head()

,y3_hhid,qx_type,interview_status,PID,hhmember,baselinemember,hhsize,baselinemembercount,individualmover,moverbasehh,ind_respondent,id_code,i_HHID,i_pid,hh_b03,hh_b04,hh_b04_1b,hh_b04a,hh_b05_2,hh_b05_2_1,hh_b05a,hh_b05b,hh_b06_1,hh_b06_2,hh_b06_3a,hh_b06_3b,hh_b06a,hh_b06b,hh_b07,hh_b08,hh_b09,hh_b10_oth,hh_b10a,hh_b10b,hh_b11,hh_b12,hh_b13,hh_b13_oth,hh_b14,hh_b15a,hh_b15b,hh_b15b_oth,hh_b16a,hh_b16b,hh_b17,hh_b18,hh_b19a,hh_b19b,hh_b20,hh_b21,hh_b22,hh_b22_oth,hh_b23,hh_b24,hh_b24_1,hh_b24_1_oth,hh_b24_2,hh_b25,hh_b26a,hh_b26a_1,hh_b26b,hh_b26b_1,hh_b26b_2,hh_b26c,hh_b26c_1,hh_b26c_2,hh_b27,hh_b28
0,0940-001,2,2,3094000108,1,0,6,4,0,.,NaN,5,NaN,NaN,1,10,NaN,2.0,2,NaN,17.0,NaN,99,1.0,17.0,NaN,3,1999,0,7,5,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98,NaN,10.0,3,98,NaN,12.0,2,NaN,NaN,3.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1007-001,1,1,183103,1,1,5,5,0,.,NaN,3,NaN,NaN,1,3,NaN,2.0,2,NaN,25.0,NaN,3,1.0,25.0,NaN,1,1991,1,0,1,NaN,NaN,NaN,2,22.0,1.0,NaN,3.0,204.0,NaN,NaN,98,NaN,7.0,1,1,2.0,NaN,1,NaN,NaN,3.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0672-002,1,1,140505,1,1,7,7,0,.,NaN,4,NaN,NaN,1,8,NaN,2.0,2,NaN,13.0,NaN,5,1.0,13.0,NaN,1,2003,0,7,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97,9.0,NaN,1,1,1.0,NaN,1,NaN,NaN,5.0,6.0,NaN,NaN,NaN,NaN,9.0,NaN,9.0,NaN,NaN,9.0,NaN,NaN,NaN,NaN
3,1117-001,2,2,197603,1,1,6,6,0,.,NaN,3,NaN,NaN,1,3,NaN,NaN,2,NaN,NaN,NaN,3,1.0,9.0,NaN,3,2007,0,7,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0,NaN,1,97,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1544-001,1,1,254304,1,1,5,4,0,.,NaN,4,NaN,NaN,1,3,NaN,NaN,2,NaN,7.0,NaN,4,1.0,7.0,NaN,8,2009,0,7,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0,NaN,1,1,2.0,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
imp_roster_16 = roster_16[['y3_hhid', 'hh_b03', 'hh_b04']]
imp_roster_16.columns = ['y3_hhid','male', 'breadwinner']
imp_roster_16['male'] = imp_roster_16['male'].replace(2,0)

def replacer(text):
    if text != 1:
        return 0
    else:
        return 1

imp_roster_16['breadwinner'] = imp_roster_16['breadwinner'].apply(replacer)
breadwinner_sex_16 = imp_roster_16[imp_roster_16['breadwinner'] == 1][['y3_hhid', 'male']]
breadwinner_sex_16.to_csv('/content/Malawi2010-2019/breadwinner_sex_16.csv')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### 2019

In [75]:
roster_19 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/hh_mod_b_19.csv")
roster_19.head()

,y4_hhid,qx_type,interview_status,PID,hhmember,baselinemember,baselinemembercount,individualmover,moverbasehh,id_code,hh_b03,hh_b04,hh_b05a,hh_b05b,hh_b05_2,hh_b05_2_1,hh_b06a,hh_b06b,hh_b06_1,hh_b06_2,hh_b06_4,hh_b06_5b,hh_b07,hh_b08,hh_b09,hh_b10a,hh_b10b,hh_b10_oth,hh_b11,hh_b12,hh_b13,hh_b13_oth,hh_b14,hh_b15a,hh_b15b,hh_b15b_oth,hh_b16a,hh_b16b,hh_b17,hh_b18,hh_b19a,hh_b19b,hh_b20,hh_b21,hh_b22,hh_b22_oth,hh_b23,hh_b24,hh_b24_1,hh_b24_1_oth,hh_b24_2,hh_b25,hh_b26a,hh_b26b,hh_b26c,hh_b26d,hh_b26e,hh_b26f,hh_b26g,hh_b26h,hh_b27,hh_b28,hhsize
0,0001-002,1,1,102,1,1,3,0,.,1,2,1,74.0,NaN,NaN,NaN,2.0,1945.0,2,1.0,2.0,NaN,0.0,7.0,2.0,NaN,NaN,NaN,2.0,50.0,4.0,NaN,2.0,NaN,NaN,NaN,98.0,NaN,40.0,1.0,98.0,NaN,35.0,1.0,15.0,NYIKA,3.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
1,0001-002,1,1,104,1,1,3,0,.,2,2,4,22.0,NaN,NaN,NaN,2.0,1997.0,4,1.0,2.0,NaN,0.0,7.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.0,NaN,12.0,1.0,97.0,NaN,NaN,1.0,NaN,NaN,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
2,0001-002,1,1,106,1,1,3,0,.,4,1,4,15.0,NaN,NaN,NaN,10.0,2003.0,6,1.0,2.0,NaN,0.0,7.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.0,NaN,3.0,1.0,97.0,NaN,NaN,1.0,NaN,NaN,3.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
3,0001-002,1,1,4000100205,1,0,3,0,.,5,2,3,46.0,NaN,NaN,NaN,1.0,1973.0,99,1.0,2.0,NaN,0.0,7.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.0,NaN,43.0,1.0,1.0,1.0,NaN,1.0,NaN,NaN,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
4,0001-002,1,1,4000100206,1,0,3,0,.,6,2,12,2.0,0.0,1.0,1.0,5.0,2017.0,99,1.0,NaN,NaN,0.0,7.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.0,NaN,NaN,1.0,1.0,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5

In [76]:
imp_roster_19 = roster_19[['y4_hhid', 'hh_b03', 'hh_b04']]
imp_roster_19.columns = ['y4_hhid','male', 'breadwinner']
imp_roster_19['male'] = imp_roster_19['male'].replace(2,0)

def replacer(text):
    if text != 1:
        return 0
    else:
        return 1

imp_roster_19['breadwinner'] = imp_roster_19['breadwinner'].apply(replacer)
breadwinner_sex_19 = imp_roster_19[imp_roster_19['breadwinner'] == 1][['y4_hhid', 'male']]
breadwinner_sex_19.to_csv('/content/Malawi2010-2019/breadwinner_sex_19.csv')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Education

##### 2013

In [77]:
educ_13 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/hh_mod_c_13.csv")
filter = (educ_13['hh_c02'] == 'X') | (educ_13['hh_c06'] == 2)
educ_13.loc[filter, 'hh_c09'] = 1

In [78]:
x = np.array([5403,639,604,440])
summed = sum(x)
x/summed

array([0.76248942, 0.09017782, 0.0852385 , 0.06209427])

In [79]:
# fill nan value with the proportion of education in the population
def randomize(text):
    return np.random.choice(np.arange(1, 5), p=[0.76, 0.09, 0.09, 0.06])
educ_13[educ_13['hh_c09'].isnull()] = educ_13[educ_13['hh_c09'].isnull()].apply(lambda x:randomize(x))

In [80]:
educ_13.head()

,occ,y2_hhid,PID,qx_type,interview_status,hh_c01,hh_c02,hh_c03,hh_c04,hh_c05a,hh_c05b,hh_c06,hh_c08,hh_c09,hh_c11,hh_c12,hh_c13,hh_c15,hh_c16,hh_c17,hh_c18,hh_c19a,hh_c19b,hh_c20,hh_c22a,hh_c22b,hh_c22c,hh_c22d,hh_c22e,hh_c22f,hh_c22g,hh_c22h,hh_c22i,hh_c22j
0,1,0001-001,101,1,1,1,NaN,1.0,NaN,2.0,2.0,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0001-001,102,1,1,2,NaN,2.0,1.0,2.0,2.0,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,0001-001,103,1,1,3,NaN,2.0,1.0,2.0,2.0,1.0,4.0,1.0,2.0,NaN,2.0,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0001-001,104,1,1,4,NaN,2.0,1.0,2.0,2.0,1.0,3.0,1.0,2.0,NaN,2.0,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0001-001,105,1,1,5,NaN,2.0,1.0,2.0,2.0,1.0,4.0,1.0,1.0,4.0,1.0,NaN,11.0,1.0,1.0,30.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [81]:
educ_mean_13 = educ_13.groupby('y2_hhid').mean()[['hh_c09']]

In [82]:
educ_mean_13.to_csv("/content/Malawi2010-2019/educ_mean_13.csv")

##### 2016

In [83]:
educ_16 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/hh_mod_c_16.csv")
filter = (educ_16['hh_c02'] == 'X') | (educ_16['hh_c06'] == 2)
educ_16.loc[filter, 'hh_c09'] = 1

In [84]:
x = np.array([6881, 846, 760, 611])
summed = sum(x)
x/summed

array([0.75632007, 0.09298747, 0.08353484, 0.06715762])

In [85]:
# fill nan value with the proportion of education in the population
def randomize(text):
    return np.random.choice(np.arange(1, 5), p=[0.76, 0.09, 0.08, 0.07])
educ_16[educ_16['hh_c09'].isnull()] = educ_16[educ_16['hh_c09'].isnull()].apply(lambda x:randomize(x))

In [86]:
educ_16.head()

,y3_hhid,qx_type,interview_status,PID,id_code,hh_c02,hh_c03,hh_c04,hh_c05a,hh_c05b,hh_c06,hh_c07a,hh_c07b,hh_c07_oth,hh_c08,hh_c09,hh_c10,hh_c11,hh_c12,hh_c13,hh_c14,hh_c14_oth,hh_c15,hh_c16,hh_c17,hh_c18,hh_c18_oth,hh_c19a,hh_c19b,hh_c20,hh_c21,hh_c21_oth,hh_c22a,hh_c22b,hh_c22c,hh_c22d,hh_c22e,hh_c22f,hh_c22g,hh_c22h,hh_c22i,hh_c22j
0,0001-002,1,1,102,1,NaN,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0001-002,1,1,104,2,NaN,1.0,NaN,2.0,2.0,1.0,NaN,NaN,NaN,6.0,1.0,6.0,2.0,NaN,2.0,7.0,NaN,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0001-002,1,1,105,3,NaN,2.0,2.0,1.0,1.0,1.0,NaN,NaN,NaN,6.0,1.0,6.0,1.0,5.0,1.0,NaN,NaN,NaN,11.0,1.0,1.0,NaN,45.0,1.0,2.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,100.0
3,0001-002,1,1,106,4,NaN,2.0,2.0,2.0,2.0,1.0,NaN,NaN,NaN,3.0,1.0,6.0,1.0,2.0,1.0,NaN,NaN,NaN,11.0,1.0,1.0,NaN,45.0,1.0,1.0,8.0,RELUCTANT,0.0,0.0,600.0,2000.0,0.0,0.0,0.0,0.0,0.0,2600.0
4,0003-001,1,1,501,1,NaN,1.0,NaN,1.0,1.0,1.0,NaN,NaN,NaN,7.0,1.0,7.0,2.0,NaN,2.0,2.0,NaN,1986.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
educ_mean_16 = educ_16.groupby('y3_hhid').mean()[['hh_c09']]

In [88]:
educ_mean_16.to_csv("/content/Malawi2010-2019/educ_mean_16.csv")

##### 2019

In [89]:
educ_19 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/hh_mod_c_19.csv")
# recode to match the previous years options
educ_19['hh_c09'] = educ_19['hh_c09'].replace(6, 5)
educ_19['hh_c09'] = educ_19['hh_c09'].replace(7, 6)
educ_19['hh_c09'] = educ_19['hh_c09'].replace(8, 7)
educ_19['hh_c09'] = educ_19['hh_c09'].replace(9, 7)

In [90]:
filter = (educ_19['hh_c02'] == 'X') | (educ_19['hh_c06'] == 2)
educ_19.loc[filter, 'hh_c09'] = 1

In [91]:
x = np.array([7900, 1306, 744, 885])
summed = sum(x)
x/summed

array([0.7291186 , 0.1205353 , 0.06866636, 0.08167974])

In [92]:
# fill nan value with the proportion of education in the population
def randomize(text):
    return np.random.choice(np.arange(1, 5), p=[0.73, 0.12, 0.07, 0.08])
educ_19[educ_19['hh_c09'].isnull()] = educ_19[educ_19['hh_c09'].isnull()].apply(lambda x:randomize(x))

In [93]:
educ_19.head()

,y4_hhid,qx_type,interview_status,PID,id_code,hh_c02,hh_c03,hh_c04,hh_c05_1,hh_c05_2a,hh_c05_2b,hh_c05_2_oth,hh_c05_3,hh_c05_4a,hh_c05_4b,hh_c05_4_oth,hh_c05_5,hh_c06,hh_c07a,hh_c07b,hh_c07_oth,hh_c08,hh_c09,hh_c10,hh_c11,hh_c12,hh_c13,hh_c14,hh_c14_oth,hh_c15,hh_c16,hh_c17,hh_c18,hh_c18_oth,hh_c19a,hh_c19b,hh_c20,hh_c21,hh_c21_oth,hh_c22a,hh_c22b,hh_c22c,hh_c22d,hh_c22e,hh_c22f,hh_c22g,hh_c22h,hh_c22i,hh_c22j,hh_c22k,hh_c22l,hh_c23filtera,hh_c23a_1,hh_c23a_2,hh_c23a_3,hh_c23filter,hh_c23b_1,hh_c23b_2,hh_c24,hh_c25
0,0001-002,1,1,102,1,NaN,2.0,2.0,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,2.0,6.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
1,0001-002,1,1,104,2,NaN,1.0,NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN,6.0,1.0,7.0,2.0,NaN,2.0,7.0,NaN,2013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
2,0001-002,1,1,106,4,NaN,2.0,5.0,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,6.0,1.0,6.0,1.0,6.0,2.0,7.0,NaN,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1000.0,1500.0,0.0,1000.0,0.0,0.0,0.0,0.0,0.0,3500.0,1.0,5.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
3,0001-002,1,1,4000100205,5,NaN,1.0,NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,2.0,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
4,0001-002,1,1,4000100206,6,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
educ_mean_19 = educ_19.groupby('y4_hhid').mean()[['hh_c09']]

In [95]:
educ_mean_19.to_csv("/content/Malawi2010-2019/educ_mean_19.csv")

### Durable Goods

##### 2013

In [96]:
durable_13 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/hh_mod_l_13.csv")
durable_13.head()

,occ,y2_hhid,qx_type,interview_status,hh_l01,hh_l02,hh_l03,hh_l04,hh_l05
0,1,0001-001,1,1,1,501,1.0,5.0,300.0
1,2,0001-001,1,1,1,502,1.0,3.0,3500.0
2,3,0001-001,1,1,2,503,NaN,NaN,NaN
3,4,0001-001,1,1,1,504,2.0,7.0,700.0
4,5,0001-001,1,1,2,505,NaN,NaN,NaN

**hh_l02 coding:**

507 (radio), 509 (tv), 516 (bicycle), 517 (motorcycle), 518 (car), 529 (computer), 502 (bed), 514 (refrigerator), 505 (fan)

In [97]:
imp_durable_13 = pd.DataFrame()
imp_durable_13['y2_hhid'] = durable_13.y2_hhid.unique()

assets = {'radio':507, 'tv':509, 'bicycle':516, 'motorcycle':517, 'car':518, 'computer':529, 'bed':502, 'refrigerator':514, 'fan': 505, 'lorry':520, 'minibus':519, 'kerosene_stove':512}
for k,v in assets.items():
        k_query = durable_13.query('hh_l02 == @v')[['y2_hhid', 'hh_l01']]
        imp_durable_13 = imp_durable_13.merge(k_query, left_on = 'y2_hhid', right_on = 'y2_hhid')
        imp_durable_13.rename(columns={'hh_l01':k}, inplace=True)
imp_durable_13 = imp_durable_13.replace(2,0)
imp_durable_13.sum()

y2_hhid           0001-0010003-0010005-0010007-0010009-0010011-0...
radio                                                           958
tv                                                              333
bicycle                                                         835
motorcycle                                                       27
car                                                              48
computer                                                         51
bed                                                             904
refrigerator                                                    149
fan                                                             123
lorry                                                             7
minibus                                                           4
kerosene_stove                                                   12
dtype: object

In [98]:
imp_durable_13.to_csv('/content/Malawi2010-2019/imp_durable_13.csv')

##### 2016

In [99]:
durable_16 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/hh_mod_l_16.csv")
durable_16.head()

,y3_hhid,qx_type,interview_status,hh_l01,hh_l02,hh_l03,hh_l04,hh_l05,hh_l06,hh_l07
0,0001-002,1,1,1,501,1.0,9.0,1000.0,2.0,NaN
1,0001-002,1,1,2,502,NaN,NaN,NaN,NaN,NaN
2,0001-002,1,1,2,503,NaN,NaN,NaN,NaN,NaN
3,0001-002,1,1,2,504,NaN,NaN,NaN,NaN,NaN
4,0001-002,1,1,2,505,NaN,NaN,NaN,NaN,NaN

**hh_l02 coding:**

507 (radio), 509 (tv), 516 (bicycle), 517 (motorcycle), 518 (car), 529 (computer), 502 (bed), 514 (refrigerator), 505 (fan)

In [100]:
imp_durable_16 = pd.DataFrame()
imp_durable_16['y3_hhid'] = durable_16.y3_hhid.unique()
assets = {'radio':507, 'tv':509, 'bicycle':516, 'motorcycle':517, 'car':518, 'computer':529, 'bed':502, 'refrigerator':514, 'fan': 505, 'lorry':520, 'minibus':519, 'kerosene_stove':512}
for k,v in assets.items():
        k_query = durable_16.query('hh_l02 == @v')[['y3_hhid', 'hh_l01']]
        imp_durable_16 = imp_durable_16.merge(k_query, left_on = 'y3_hhid', right_on = 'y3_hhid')
        imp_durable_16.rename(columns={'hh_l01':k}, inplace=True)
imp_durable_16 = imp_durable_16.replace(2,0)
imp_durable_16.sum()

y3_hhid           0001-0020003-0010003-0030004-0010005-0010006-0...
radio                                                          1014
tv                                                              474
bicycle                                                        1055
motorcycle                                                       62
car                                                              74
computer                                                         95
bed                                                            1113
refrigerator                                                    228
fan                                                             177
lorry                                                            10
minibus                                                           7
kerosene_stove                                                    5
dtype: object

In [101]:
imp_durable_16.to_csv('/content/Malawi2010-2019/imp_durable_16.csv')

##### 2019

In [102]:
durable_19 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/hh_mod_l_19.csv")
durable_19.head()

,y4_hhid,qx_type,interview_status,hh_l01,hh_l02,hh_l03,hh_l04,hh_l05,hh_l06,hh_l07,hh_l_check
0,0001-002,1,1,1,501,1.0,3.0,2000.0,2.0,NaN,1.0
1,0001-002,1,1,2,502,NaN,NaN,NaN,NaN,NaN,1.0
2,0001-002,1,1,2,503,NaN,NaN,NaN,NaN,NaN,1.0
3,0001-002,1,1,1,504,2.0,3.0,2500.0,2.0,NaN,1.0
4,0001-002,1,1,2,505,NaN,NaN,NaN,NaN,NaN,1.0

**hh_l02 coding:**

507 (radio), 509 (tv), 516 (bicycle), 517 (motorcycle), 518 (car), 529 (computer), 502 (bed), 514 (refrigerator), 505 (fan)

In [103]:
imp_durable_19 = pd.DataFrame()
imp_durable_19['y4_hhid'] = durable_19.y4_hhid.unique()
assets = {'radio':507, 'tv':509, 'bicycle':516, 'motorcycle':517, 'car':518, 'computer':529, 'bed':502, 'refrigerator':514, 'fan': 505, 'lorry':520, 'minibus':519, 'kerosene_stove':512}
for k,v in assets.items():
        k_query = durable_19.query('hh_l02 == @v')[['y4_hhid', 'hh_l01']]
        imp_durable_19 = imp_durable_19.merge(k_query, left_on = 'y4_hhid', right_on = 'y4_hhid')
        imp_durable_19.rename(columns={'hh_l01':k}, inplace=True)
imp_durable_19 = imp_durable_19.replace(2,0)
imp_durable_19.head()

,y4_hhid,radio,tv,bicycle,motorcycle,car,computer,bed,refrigerator,fan,lorry,minibus,kerosene_stove
0,0001-002,0,0,0,0,0,0,0,0,0,0,0,0
1,0001-005,0,0,1,0,0,0,0,0,0,0,0,0
2,0002-001,0,0,1,0,0,0,1,0,0,0,0,0
3,0002-005,0,0,1,0,0,0,1,0,0,0,0,0
4,0002-006,0,0,1,0,0,0,1,0,0,0,0,0

In [104]:
imp_durable_19.sum()

y4_hhid           0001-0020001-0050002-0010002-0050002-0060003-0...
radio                                                           943
tv                                                              574
bicycle                                                        1210
motorcycle                                                      122
car                                                             111
computer                                                        123
bed                                                            1390
refrigerator                                                    302
fan                                                             200
lorry                                                            21
minibus                                                          19
kerosene_stove                                                    9
dtype: object

In [105]:
imp_durable_19.to_csv('/content/Malawi2010-2019/imp_durable_19.csv')

### Filter questions for Agri and Fishery

##### 2013

In [106]:
agri_filter_13 = pd.read_csv('/content/drive/MyDrive/Malawi 2010-2019/hh_mod_x_13.csv')
agri_filter_13.head()

,occ,y2_hhid,qx_type,interview_status,hh_x10,hh_x11,hh_x11_1,hh_x12_1,hh_x16,hh_x16_1,hh_x17,hh_x18,hh_x19,hh_x20,hh_x21,hh_x22,hh_x23
0,1,0001-001,1,1,1,1,1,1,2.0,2.0,1,2.0,1,1,2,NaN,NaN
1,1,0003-001,1,1,1,2,1,1,2.0,2.0,1,2.0,1,1,2,NaN,NaN
2,1,0005-001,1,1,1,1,1,1,2.0,2.0,1,1.0,1,1,2,NaN,NaN
3,1,0007-001,1,1,1,1,1,1,2.0,2.0,1,1.0,1,1,2,NaN,NaN
4,1,0009-001,1,1,1,2,1,1,2.0,2.0,1,2.0,2,1,2,NaN,NaN

In [107]:
imp_agri_13 = agri_filter_13[['y2_hhid', 'hh_x10', 'hh_x11']]
imp_agri_13 = imp_agri_13.replace(2,0)
imp_agri_13.columns = ['y2_hhid', 'cultivate_land', 'livestock']

In [108]:
imp_agri_13.to_csv('/content/Malawi2010-2019/imp_agri_13.csv')

##### 2016

In [109]:
agri_filter_16 = pd.read_csv('/content/drive/MyDrive/Malawi 2010-2019/hh_mod_x_16.csv')
agri_filter_16.head()

,y3_hhid,qx_type,interview_status,hh_x10,hh_x11,hh_x16,hh_x18,hh_x19,hh_x22
0,0001-002,1,1,1,2,2.0,1,2,2
1,0003-001,1,1,1,1,2.0,2,2,2
2,0003-003,1,1,1,1,2.0,1,2,2
3,0004-001,1,1,1,1,2.0,1,1,2
4,0005-001,1,1,1,1,2.0,1,1,2

In [110]:
imp_agri_16 = agri_filter_16[['y3_hhid', 'hh_x10', 'hh_x11']]
imp_agri_16 = imp_agri_16.replace(2,0)
imp_agri_16.columns = ['y3_hhid', 'cultivate_land', 'livestock']

In [111]:
imp_agri_16.to_csv('/content/Malawi2010-2019/imp_agri_16.csv')

##### 2019

In [112]:
agri_filter_19 = pd.read_csv('/content/drive/MyDrive/Malawi 2010-2019/hh_mod_x_19.csv')
agri_filter_19.head()

,y4_hhid,qx_type,interview_status,hh_x10,hh_x11,hh_x14,hh_x15,hh_x04,hh_x16
0,0001-002,1,1,1,1,2.0,2,2.0,2
1,0002-001,1,1,1,1,2.0,2,1.0,2
2,0002-005,1,1,1,1,2.0,2,1.0,2
3,0003-003,1,1,1,1,2.0,2,2.0,2
4,0004-001,1,1,1,1,2.0,2,1.0,2

In [113]:
imp_agri_19 = agri_filter_19[['y4_hhid', 'hh_x10', 'hh_x11']]
imp_agri_19 = imp_agri_19.replace(2,0)
imp_agri_19.columns = ['y4_hhid', 'cultivate_land', 'livestock']

In [114]:
imp_agri_19.to_csv('/content/Malawi2010-2019/imp_agri_19.csv')

### Fuel Price

##### 2013

In [115]:
fuel_3m_13 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/df_final_fuel_3m_2013.csv")
fuel_6m_13 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/df_final_fuel_6m_2013.csv")
fuel_12m_13 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/df_final_fuel_12m_2013.csv")

In [116]:
name = ["diesel", "kerosene", "petrol"]
for df in [fuel_3m_13, fuel_6m_13, fuel_12m_13]:
    df.commodity = name

##### 2016

In [117]:
fuel_3m_16 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/df_final_fuel_3m_2016.csv")
fuel_6m_16 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/df_final_fuel_6m_2016.csv")
fuel_12m_16 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/df_final_fuel_12m_2016.csv")

In [118]:
name = ["diesel", "kerosene", "petrol"]
for df in [fuel_3m_16, fuel_6m_16, fuel_12m_16]:
    df.commodity = name

##### 2019

In [119]:
fuel_3m_19 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/df_final_fuel_3m_2019.csv")
fuel_6m_19 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/df_final_fuel_6m_2019.csv")
fuel_12m_19 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/df_final_fuel_12m_2019.csv")

In [120]:
name = ["diesel", "kerosene", "petrol"]
for df in [fuel_3m_19, fuel_6m_19, fuel_12m_19]:
    df.commodity = name

### Food Price

In [121]:
regional = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/regional_food_price.csv", index_col=0)
regional.start_date = pd.to_datetime(regional.start_date)
regional.end_date = pd.to_datetime(regional.end_date)
regional['commodity'] = regional['commodity'].replace("Groundnuts (shelled)", "Groundnuts")
regional.head()

,commodity,region,price_avg,usdprice_avg,start_date,end_date,date_count,period
0,Beans,Central,337.102749,0.328274,2013-05-15,2013-07-15,3,3
1,Beans,Northern,314.950038,0.306703,2013-05-15,2013-07-15,3,3
2,Beans,Southern,364.872792,0.355310,2013-05-15,2013-07-15,3,3
3,Groundnuts,Central,350.198018,0.341014,2013-05-15,2013-07-15,3,3
4,Groundnuts,Northern,345.230869,0.336185,2013-05-15,2013-07-15,3,3

In [122]:
regional_13 = regional[regional.end_date.dt.year == 2013][['commodity', 'region', 'usdprice_avg', 'period']]
regional_16 = regional[regional.end_date.dt.year == 2016][['commodity', 'region', 'usdprice_avg', 'period']]
regional_19 = regional[regional.end_date.dt.year == 2019][['commodity', 'region', 'usdprice_avg', 'period']]

In [123]:
# regional_13_2 = regional_13.pivot(index="region", columns=["commodity", "period"], values=["usdprice_avg"])
# regional_13_2.columns = ["{1}_MA{2}".format(x, y, z) for x, y, z in regional_13_2.columns.to_flat_index()]

def pivot_df(df):
    p_df = df.pivot(index="region", columns=["commodity", "period"], values=["usdprice_avg"])
    p_df.columns = ["{1}_MA{2}".format(x, y, z) for x, y, z in p_df.columns.to_flat_index()]
    return p_df

regional_13_2 = pivot_df(regional_13)
regional_16_2 = pivot_df(regional_16)
regional_19_2 = pivot_df(regional_19)

In [124]:
regional_13_2

,Beans_MA3,Groundnuts_MA3,Maize_MA3,Rice_MA3,Beans_MA6,Groundnuts_MA6,Maize_MA6,Rice_MA6,Beans_MA12,Groundnuts_MA12,Maize_MA12,Rice_MA12
region,,,,,,,,,,,,
Central,0.328274,0.341014,0.087710,0.331615,0.331162,0.371702,0.098729,0.341825,0.324797,0.349390,0.078528,0.317615
Northern,0.306703,0.336185,0.091409,0.342004,0.322901,0.347182,0.101551,0.350402,0.299929,0.320410,0.081241,0.327929
Southern,0.355310,0.393152,0.085346,0.337202,0.357313,0.417249,0.101598,0.342856,0.354882,0.403045,0.086938,0.319854

In [125]:
city_13 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/city_food_price_13.csv")
city_16 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/city_food_price_16.csv")
city_19 = pd.read_csv("/content/drive/MyDrive/Malawi 2010-2019/city_food_price_19.csv")

replacer = {"Nkhata Bay":"Nkhatabay",
"Nkhotakota":"Nkhota kota",
"Blantyre":"Blanytyre"}

def pivot_df(df):
    df['city'] = df['city'].replace(replacer)
    df['commodity'] = df['commodity'].replace("Groundnuts (shelled)", "Groundnuts")
    df.columns = ['commodity', 'city', "MA3", "MA6", "MA12"]
    p_df = df.pivot(index="city", columns="commodity")
    p_df.columns = ["{1}_{0}".format(x, y) for x, y in p_df.columns.to_flat_index()]
    return p_df

city_13_2=pivot_df(city_13)
city_16_2=pivot_df(city_16)
city_19_2=pivot_df(city_19)

In [126]:
city_13_2

,Beans_MA3,Groundnuts_MA3,Maize_MA3,Rice_MA3,Beans_MA6,Groundnuts_MA6,Maize_MA6,Rice_MA6,Beans_MA12,Groundnuts_MA12,Maize_MA12,Rice_MA12
city,,,,,,,,,,,,
Balaka,0.318033,0.285367,0.074533,0.325733,0.330320,0.314020,0.100075,0.295260,0.335400,0.323700,0.082322,0.316910
Blantyre City,0.339367,0.274567,0.086033,0.263033,0.360567,0.368583,0.099020,0.325133,0.340733,0.358092,0.087927,0.320683
Blanytyre,0.421067,NaN,0.093467,0.336767,0.391280,NaN,0.113017,0.349960,0.348636,NaN,0.091375,0.320945
Chikwawa,NaN,NaN,0.089133,NaN,NaN,NaN,0.104800,NaN,NaN,NaN,0.091767,NaN
Chiradzulu,0.356750,0.405750,0.084167,0.311750,0.336275,0.361300,0.111825,0.307000,0.337244,0.359212,0.093267,0.307412
Chitipa,0.255211,0.269867,0.076033,0.334711,0.262400,0.278994,0.091489,0.334103,0.240508,0.262368,0.069165,0.312549
Dedza,0.290789,0.333172,0.076461,0.321606,0.282644,0.329286,0.087831,0.333383,0.294327,0.335015,0.076838,0.319274
Dowa,0.300117,0.317708,0.099189,0.334392,0.324485,0.366824,0.103911,0.354835,0.325710,0.349083,0.078908,0.326083
Karonga,0.370000,0.368300,0.080633,0.307550,0.347775,0.378600,0.104350,0.342340,0.349380,0.414900,0.092508,0.344027
Kasungu,0.390838,0.301221,0.072909,0.334536,0.363584,0.352440,0.087429,0.343805,0.357935,0.321178,0.068144,0.312550
Lilongwe,0.256544,0.286244,0.093878,0.309517,0.272906,0.327589,0.102239,0.326625,0.274186,0.281557,0.075715,0.312521
Lilongwe City,NaN,NaN,0.108750,0.388733,NaN,NaN,0.126280,0.375883,NaN,NaN,0.096582,0.364160
Machinga,0.344150,0.404100,0.084983,0.310333,0.337767,0.417792,0.096667,0.309533,0.415208,0.464879,0.081521,0.290204
Mangochi,0.370600,0.387867,0.084761,0.362672,0.380906,0.429100,0.105197,0.371744,0.364276,0.421865,0.087971,0.343700
Mchinji,0.335600,0.369500,0.095600,0.333800,0.370700,0.391530,0.091480,0.358160,0.366755,0.359761,0.081311,0.333280
Mulanje,0.310033,0.362233,0.088700,0.327333,0.321720,0.377980,0.111340,0.341940,0.310589,0.364622,0.098056,0.309133
Mwanza,NaN,NaN,0.085200,NaN,NaN,NaN,0.103475,NaN,NaN,NaN,0.091512,NaN
Mzimba,0.312319,0.363339,0.092203,0.349668,0.338882,0.374174,0.101473,0.365004,0.319493,0.343353,0.082052,0.350849
Neno,0.414733,0.477600,NaN,0.398733,0.447920,0.491320,NaN,0.408440,0.466430,0.487700,NaN,0.382620
Nkhatabay,0.316211,0.287111,0.095300,0.337339,0.324483,0.308017,0.096097,0.334164,0.285467,0.265624,0.077682,0.289244
Nkhota kota,0.403022,0.451017,0.102017,0.324411,0.427417,0.496150,0.117367,0.328378,0.437856,0.480647,0.093008,0.300575
Nsanje,0.392625,0.461833,0.088233,0.371608,0.386410,0.484300,0.100056,0.371029,0.372623,0.430161,0.089872,0.328634
Ntcheu,0.335806,0.374253,0.083453,0.335693,0.319094,0.390887,0.092714,0.347627,0.292415,0.354956,0.077736,0.322939
Ntchisi,0.302800,0.284700,0.085150,0.333706,0.283542,0.290533,0.097089,0.330386,0.271624,0.276000,0.074924,0.303353
Phalombe,0.341833,0.415033,0.097200,0.312800,0.351360,0.408710,0.121975,0.310000,0.332540,0.395175,0.098606,0.269533
Rumphi,0.386400,0.514900,0.136900,0.349750,0.399625,0.522975,0.144850,0.379175,0.355467,0.445511,0.110855,0.352356
Salima,0.343550,0.351600,0.096367,0.345350,0.371840,0.386860,0.114850,0.334060,0.349843,0.350875,0.095922,0.318750
Thyolo,0.278750,NaN,0.093133,NaN,0.301025,NaN,0.110200,NaN,0.303125,NaN,0.095722,NaN
Zomba,0.302644,0.385417,0.076544,0.322828,0.290228,0.372931,0.093306,0.327258,0.285997,0.365762,0.080311,0.305561
Zomba City,NaN,NaN,0.095450,0.311250,NaN,NaN,0.101150,0.346175,NaN,NaN,0.089925,0.339800

In [127]:
city_16_2

,Beans_MA3,Groundnuts_MA3,Maize_MA3,Rice_MA3,Beans_MA6,Groundnuts_MA6,Maize_MA6,Rice_MA6,Beans_MA12,Groundnuts_MA12,Maize_MA12,Rice_MA12
city,,,,,,,,,,,,
Blantyre City,NaN,NaN,0.249817,NaN,NaN,NaN,0.237258,NaN,NaN,NaN,0.218050,NaN
Blanytyre,0.807833,0.792433,0.238800,0.776033,0.857083,0.774533,0.239950,0.732133,0.780573,0.810692,0.229243,0.692536
Chikwawa,NaN,0.709900,0.234789,NaN,NaN,0.665025,0.229162,NaN,NaN,0.661963,0.217949,NaN
Chitipa,0.461117,0.469700,0.154989,0.565083,0.454633,0.469592,0.142494,0.562742,0.450342,0.473556,0.144703,0.531529
Dedza,0.811078,0.697950,0.206317,0.693900,0.776547,0.651575,0.205167,0.672323,0.671204,0.642877,0.195697,0.619813
Dowa,0.866750,0.624611,0.195117,0.740417,0.802867,0.604527,0.190756,0.699358,0.706477,0.606803,0.188826,0.644350
Karonga,0.697200,0.778350,0.191567,0.611200,0.601780,0.679100,0.190650,0.595880,0.601690,0.708756,0.198767,0.534310
Kasungu,0.807556,0.707900,0.198225,0.786489,0.719644,0.641317,0.180544,0.755786,0.685767,0.629493,0.179816,0.680370
Lilongwe,0.883450,0.629000,0.207222,0.777700,0.768050,0.619889,0.201529,0.724108,0.724611,0.631888,0.186978,0.649453
Machinga,NaN,NaN,0.229870,NaN,NaN,NaN,0.216061,NaN,NaN,NaN,0.207198,NaN
Mangochi,0.671600,0.870450,0.260650,0.693600,0.670690,0.834743,0.241792,0.695530,0.682277,0.830400,0.225556,0.624291
Mchinji,0.658950,NaN,0.205400,NaN,0.652017,NaN,0.194308,NaN,0.651532,NaN,0.187796,NaN
Mulanje,NaN,NaN,0.251967,NaN,NaN,NaN,0.236530,NaN,NaN,NaN,0.226160,NaN
Mwanza,0.884850,0.873500,NaN,NaN,0.833460,0.838783,NaN,NaN,0.794233,0.773973,NaN,NaN
Mzimba,0.553583,0.518617,0.200925,0.617333,0.554271,0.498486,0.187211,0.608347,0.530836,0.518162,0.174374,0.589059
Neno,0.916300,0.754900,NaN,0.867933,0.803280,0.718340,NaN,0.792750,0.753060,0.736382,NaN,0.644350
Nkhatabay,0.761161,0.715239,0.224350,0.709850,0.747314,0.635044,0.212550,0.714008,0.730135,0.629318,0.193011,0.701086
Nkhota kota,0.888100,0.570783,0.204267,0.653300,0.816456,0.634683,0.188858,0.618470,0.787912,0.660276,0.192078,0.592508
Nsanje,0.698250,0.705850,0.241836,0.454600,0.795573,0.715575,0.239675,0.508743,0.734747,0.723285,0.220360,0.476283
Ntcheu,0.820569,0.668850,0.206198,0.693437,0.745336,0.682781,0.197767,0.675595,0.695513,0.668011,0.188361,0.594029
Ntchisi,0.684475,0.724933,0.194694,0.688025,0.737420,0.661758,0.185869,0.692160,0.667869,0.699409,0.184341,0.636283
Phalombe,0.910467,0.999900,0.249250,0.737750,0.903367,0.983100,0.235258,0.693320,0.874522,0.905438,0.218940,0.645475
Rumphi,0.713933,0.714367,0.188233,0.706933,0.725850,0.714760,0.196583,0.682683,0.671758,0.670973,0.199558,0.672945
Salima,NaN,NaN,0.213967,NaN,NaN,NaN,0.202727,NaN,NaN,NaN,0.191281,NaN
Thyolo,NaN,NaN,0.253400,NaN,NaN,NaN,0.240125,NaN,NaN,NaN,0.217087,NaN
Zomba,0.523800,0.583900,0.242367,0.620500,0.569125,0.601030,0.231192,0.574164,0.516722,0.557936,0.214416,0.493361

In [128]:
city_19_2

,Beans_MA3,Groundnuts_MA3,Maize_MA3,Rice_MA3,Beans_MA6,Groundnuts_MA6,Maize_MA6,Rice_MA6,Beans_MA12,Groundnuts_MA12,Maize_MA12,Rice_MA12
city,,,,,,,,,,,,
Balaka,0.785150,NaN,NaN,NaN,0.734620,NaN,NaN,NaN,0.814510,NaN,NaN,NaN
Blantyre City,NaN,NaN,0.239433,NaN,NaN,NaN,0.228400,NaN,NaN,NaN,0.200089,NaN
Blanytyre,0.775733,0.724167,NaN,0.726167,0.773992,0.742967,NaN,0.731683,0.804837,0.722292,NaN,0.717742
Chitipa,NaN,NaN,0.149206,NaN,NaN,NaN,0.142304,NaN,NaN,NaN,0.126824,NaN
Dedza,NaN,NaN,0.210600,NaN,NaN,NaN,0.175106,NaN,NaN,NaN,0.172532,NaN
Dowa,NaN,NaN,0.200892,NaN,NaN,NaN,0.193631,NaN,NaN,NaN,0.175083,NaN
Karonga,0.650267,0.802400,NaN,0.619100,0.580475,0.750867,NaN,0.552867,0.595313,0.745075,NaN,0.606083
Kasungu,NaN,NaN,0.193050,NaN,NaN,NaN,0.187762,NaN,NaN,NaN,0.168261,NaN
Lilongwe,0.843550,0.611567,0.210564,0.753244,0.806047,0.503467,0.174499,0.738272,0.791094,0.537491,0.165394,0.741603
Lilongwe City,NaN,NaN,0.215867,NaN,NaN,NaN,0.191117,NaN,NaN,NaN,0.178025,NaN
Mangochi,0.733250,0.846533,0.202033,0.577700,0.695020,0.823967,0.174194,0.569767,0.729945,0.812317,0.173497,0.640650
Mulanje,0.739667,0.679950,NaN,NaN,0.750667,0.668940,NaN,NaN,0.789073,0.743656,NaN,NaN
Mzimba,0.737583,0.649167,0.169120,0.750744,0.694216,0.650547,0.149260,0.744509,0.724769,0.640065,0.141930,0.741761
Nkhota kota,NaN,NaN,0.227800,NaN,NaN,NaN,0.221988,NaN,NaN,NaN,0.182275,NaN
Nsanje,NaN,NaN,0.231944,0.610667,NaN,NaN,0.201064,0.608010,NaN,NaN,0.185614,0.610195
Ntcheu,0.443900,0.497983,0.211019,NaN,0.566555,0.504137,0.203240,NaN,0.563307,0.542908,0.178194,NaN
Phalombe,NaN,NaN,NaN,0.572633,NaN,NaN,NaN,0.523730,NaN,NaN,NaN,0.566964
Salima,0.730600,0.613750,0.227200,0.698133,0.772593,0.607100,0.184283,0.678667,0.765961,0.627830,0.173289,0.659142
Thyolo,NaN,NaN,0.239750,NaN,NaN,NaN,0.202875,NaN,NaN,NaN,0.187342,NaN
Zomba,NaN,0.737050,NaN,0.570900,NaN,0.728620,NaN,0.479040,NaN,0.743643,NaN,0.547933

### Final Dataset

In [129]:
def merge_final(datasets, key):
    final_dataset = datasets[0].copy()
    for data in datasets[1:]:
        final_dataset = final_dataset.merge(data, left_on=key, right_on=key)
    return final_dataset

##### 2013

In [130]:
breadwinner_sex_13.columns=['y2_hhid', 'male_head']
educ_mean_13.columns = ['educ_mean']

In [131]:
final_dataset_13 = merge_final([imp_hh_data_13, imp_housing_13, breadwinner_sex_13, educ_mean_13, imp_durable_13, imp_agri_13, fs_indicator_13], 'y2_hhid')

In [132]:
final_dataset_13.shape

(1984, 26)

In [133]:
def make_fuel_col(final_dataset):
    final_dataset['petrol_3m'] = np.nan
    final_dataset['diesel_3m'] = np.nan
    final_dataset['kerosene_3m'] = np.nan
    final_dataset['petrol_6m'] = np.nan
    final_dataset['diesel_6m'] = np.nan
    final_dataset['kerosene_6m'] = np.nan
    final_dataset['petrol_12m'] = np.nan
    final_dataset['diesel_12m'] = np.nan
    final_dataset['kerosene_12m'] = np.nan
make_fuel_col(final_dataset_13)

In [134]:
final_dataset_13['petrol_3m'] = final_dataset_13['petrol_3m'].fillna(fuel_3m_13.query('commodity == "petrol"')['usdprice_avg'].values[0])
final_dataset_13['diesel_3m'] = final_dataset_13['diesel_3m'].fillna(fuel_3m_13.query('commodity == "diesel"')['usdprice_avg'].values[0])
final_dataset_13['kerosene_3m'] = final_dataset_13['kerosene_3m'].fillna(fuel_3m_13.query('commodity == "kerosene"')['usdprice_avg'].values[0])
final_dataset_13['petrol_6m'] = final_dataset_13['petrol_6m'].fillna(fuel_6m_13.query('commodity == "petrol"')['usdprice_avg'].values[0])
final_dataset_13['diesel_6m'] = final_dataset_13['diesel_6m'].fillna(fuel_6m_13.query('commodity == "diesel"')['usdprice_avg'].values[0])
final_dataset_13['kerosene_6m'] = final_dataset_13['kerosene_6m'].fillna(fuel_6m_13.query('commodity == "kerosene"')['usdprice_avg'].values[0])
final_dataset_13['petrol_12m'] = final_dataset_13['petrol_12m'].fillna(fuel_12m_13.query('commodity == "petrol"')['usdprice_avg'].values[0])
final_dataset_13['diesel_12m'] = final_dataset_13['diesel_12m'].fillna(fuel_12m_13.query('commodity == "diesel"')['usdprice_avg'].values[0])
final_dataset_13['kerosene_12m'] = final_dataset_13['kerosene_12m'].fillna(fuel_12m_13.query('commodity == "kerosene"')['usdprice_avg'].values[0])

In [135]:
final_dataset_13.head()

,case_id,y2_hhid,rural,city_code,city_name,permanent_cons,elect,cellphone,male_head,educ_mean,radio,tv,bicycle,motorcycle,car,computer,bed,refrigerator,fan,lorry,minibus,kerosene_stove,cultivate_land,livestock,fs_score,food_insecure,petrol_3m,diesel_3m,kerosene_3m,petrol_6m,diesel_6m,kerosene_6m,petrol_12m,diesel_12m,kerosene_12m
0,101012150028,0001-001,1,101,Chitipa,0,0,0,1,1.0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,28.0,1,0.66955,0.64985,0.55045,0.6803,0.66025,0.56865,0.592363,0.578437,0.4914
1,101012150060,0003-001,1,101,Chitipa,0,0,0,1,1.0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,28.0,1,0.66955,0.64985,0.55045,0.6803,0.66025,0.56865,0.592363,0.578437,0.4914
2,101012150022,0005-001,1,101,Chitipa,0,0,0,1,1.0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0.0,0,0.66955,0.64985,0.55045,0.6803,0.66025,0.56865,0.592363,0.578437,0.4914
3,101012150074,0007-001,1,101,Chitipa,0,0,0,1,1.2,1,0,1,0,0,0,1,0,0,0,0,0,1,1,0.0,0,0.66955,0.64985,0.55045,0.6803,0.66025,0.56865,0.592363,0.578437,0.4914
4,101012150038,0009-001,1,101,Chitipa,0,0,0,0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0,0.66955,0.64985,0.55045,0.6803,0.66025,0.56865,0.592363,0.578437,0.4914

In [136]:
final_dataset_13 = final_dataset_13.merge(city_13_2, left_on="city_name", right_index=True, how="left")

In [137]:
def replacer(code):
    code = str(code)
    if code[0] == "1":
        return "Northern"
    elif code[0] == "2":
        return "Central"
    elif code[0] == "3":
        return "Southern"
final_dataset_13['region'] = final_dataset_13['city_code'].apply(replacer)

In [172]:
final_dataset_13.columns

Index(['case_id', 'y2_hhid', 'rural', 'city_code', 'city_name',
       'permanent_cons', 'elect', 'cellphone', 'male_head', 'educ_mean',
       'radio', 'tv', 'bicycle', 'motorcycle', 'car', 'computer', 'bed',
       'refrigerator', 'fan', 'lorry', 'minibus', 'kerosene_stove',
       'cultivate_land', 'livestock', 'fs_score', 'food_insecure', 'petrol_3m',
       'diesel_3m', 'kerosene_3m', 'petrol_6m', 'diesel_6m', 'kerosene_6m',
       'petrol_12m', 'diesel_12m', 'kerosene_12m', 'Beans_MA3',
       'Groundnuts_MA3', 'Maize_MA3', 'Rice_MA3', 'Beans_MA6',
       'Groundnuts_MA6', 'Maize_MA6', 'Rice_MA6', 'Beans_MA12',
       'Groundnuts_MA12', 'Maize_MA12', 'Rice_MA12', 'region'],
      dtype='object')

In [180]:
def fill_null(final_dataset, regional_y):
    df = final_dataset.merge(regional_y, left_on='region', right_index=True)
    for n in range(35,47):
        col_x = df.columns[n]
        col_y = df.columns[n+13]
        new_col = col_x[:-2]
        df[new_col] = df[col_x].where(df[col_x].notnull(), df[col_y])
    df = df.drop(columns=['Beans_MA3_x', 'Groundnuts_MA3_x', 'Maize_MA3_x', 'Rice_MA3_x',
       'Beans_MA6_x', 'Groundnuts_MA6_x', 'Maize_MA6_x', 'Rice_MA6_x',
       'Beans_MA12_x', 'Groundnuts_MA12_x', 'Maize_MA12_x', 'Rice_MA12_x',
       'region', 'Beans_MA3_y', 'Groundnuts_MA3_y', 'Maize_MA3_y',
       'Rice_MA3_y', 'Beans_MA6_y', 'Groundnuts_MA6_y', 'Maize_MA6_y',
       'Rice_MA6_y', 'Beans_MA12_y', 'Groundnuts_MA12_y', 'Maize_MA12_y',
       'Rice_MA12_y'])
    return df

In [181]:
final_13 = fill_null(final_dataset_13, regional_13_2)

In [182]:
final_13.head()

,case_id,y2_hhid,rural,city_code,city_name,permanent_cons,elect,cellphone,male_head,educ_mean,radio,tv,bicycle,motorcycle,car,computer,bed,refrigerator,fan,lorry,minibus,kerosene_stove,cultivate_land,livestock,fs_score,food_insecure,petrol_3m,diesel_3m,kerosene_3m,petrol_6m,diesel_6m,kerosene_6m,petrol_12m,diesel_12m,kerosene_12m,Beans_MA3,Groundnuts_MA3,Maize_MA3,Rice_MA3,Beans_MA6,Groundnuts_MA6,Maize_MA6,Rice_MA6,Beans_MA12,Groundnuts_MA12,Maize_MA12,Rice_MA12
0,101012150028,0001-001,1,101,Chitipa,0,0,0,1,1.0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,28.0,1,0.66955,0.64985,0.55045,0.6803,0.66025,0.56865,0.592363,0.578437,0.4914,0.255211,0.269867,0.076033,0.334711,0.2624,0.278994,0.091489,0.334103,0.240508,0.262368,0.069165,0.312549
1,101012150060,0003-001,1,101,Chitipa,0,0,0,1,1.0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,28.0,1,0.66955,0.64985,0.55045,0.6803,0.66025,0.56865,0.592363,0.578437,0.4914,0.255211,0.269867,0.076033,0.334711,0.2624,0.278994,0.091489,0.334103,0.240508,0.262368,0.069165,0.312549
2,101012150022,0005-001,1,101,Chitipa,0,0,0,1,1.0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0.0,0,0.66955,0.64985,0.55045,0.6803,0.66025,0.56865,0.592363,0.578437,0.4914,0.255211,0.269867,0.076033,0.334711,0.2624,0.278994,0.091489,0.334103,0.240508,0.262368,0.069165,0.312549
3,101012150074,0007-001,1,101,Chitipa,0,0,0,1,1.2,1,0,1,0,0,0,1,0,0,0,0,0,1,1,0.0,0,0.66955,0.64985,0.55045,0.6803,0.66025,0.56865,0.592363,0.578437,0.4914,0.255211,0.269867,0.076033,0.334711,0.2624,0.278994,0.091489,0.334103,0.240508,0.262368,0.069165,0.312549
4,101012150038,0009-001,1,101,Chitipa,0,0,0,0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0,0.66955,0.64985,0.55045,0.6803,0.66025,0.56865,0.592363,0.578437,0.4914,0.255211,0.269867,0.076033,0.334711,0.2624,0.278994,0.091489,0.334103,0.240508,0.262368,0.069165,0.312549

In [183]:
final_13.shape

(1984, 47)

In [215]:
final_13.to_csv('/content/Malawi2010-2019/final_13.csv')

##### 2016

In [219]:
breadwinner_sex_16.columns=['y3_hhid', 'male_head']
educ_mean_16.columns = ['educ_mean']

In [220]:
final_dataset_16 = merge_final([imp_hh_data_16, imp_housing_16, breadwinner_sex_16, educ_mean_16, imp_durable_16, imp_agri_16, fs_indicator_16], 'y3_hhid')

In [221]:
def make_fuel_col(final_dataset):
    final_dataset['petrol_3m'] = np.nan
    final_dataset['diesel_3m'] = np.nan
    final_dataset['kerosene_3m'] = np.nan
    final_dataset['petrol_6m'] = np.nan
    final_dataset['diesel_6m'] = np.nan
    final_dataset['kerosene_6m'] = np.nan
    final_dataset['petrol_12m'] = np.nan
    final_dataset['diesel_12m'] = np.nan
    final_dataset['kerosene_12m'] = np.nan
make_fuel_col(final_dataset_16)

In [222]:
final_dataset_16['petrol_3m'] = final_dataset_16['petrol_3m'].fillna(fuel_3m_16.query('commodity == "petrol"')['usdprice_avg'].values[0])
final_dataset_16['diesel_3m'] = final_dataset_16['diesel_3m'].fillna(fuel_3m_16.query('commodity == "diesel"')['usdprice_avg'].values[0])
final_dataset_16['kerosene_3m'] = final_dataset_16['kerosene_3m'].fillna(fuel_3m_16.query('commodity == "kerosene"')['usdprice_avg'].values[0])
final_dataset_16['petrol_6m'] = final_dataset_16['petrol_6m'].fillna(fuel_6m_16.query('commodity == "petrol"')['usdprice_avg'].values[0])
final_dataset_16['diesel_6m'] = final_dataset_16['diesel_6m'].fillna(fuel_6m_16.query('commodity == "diesel"')['usdprice_avg'].values[0])
final_dataset_16['kerosene_6m'] = final_dataset_16['kerosene_6m'].fillna(fuel_6m_16.query('commodity == "kerosene"')['usdprice_avg'].values[0])
final_dataset_16['petrol_12m'] = final_dataset_16['petrol_12m'].fillna(fuel_12m_16.query('commodity == "petrol"')['usdprice_avg'].values[0])
final_dataset_16['diesel_12m'] = final_dataset_16['diesel_12m'].fillna(fuel_12m_16.query('commodity == "diesel"')['usdprice_avg'].values[0])
final_dataset_16['kerosene_12m'] = final_dataset_16['kerosene_12m'].fillna(fuel_12m_16.query('commodity == "kerosene"')['usdprice_avg'].values[0])

In [223]:
final_dataset_16.head()

,case_id,y3_hhid,rural,city_code,city_name,permanent_cons,elect,cellphone,male_head,educ_mean,radio,tv,bicycle,motorcycle,car,computer,bed,refrigerator,fan,lorry,minibus,kerosene_stove,cultivate_land,livestock,fs_score,food_insecure,petrol_3m,diesel_3m,kerosene_3m,petrol_6m,diesel_6m,kerosene_6m,petrol_12m,diesel_12m,kerosene_12m
0,101012150028,0001-002,1,101,Chitipa,0,0,0,0,1.000,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0,0.7677,0.7468,0.5938,0.760383,0.73965,0.589033,0.732867,0.72015,0.575825
1,101012150022,0003-001,1,101,Chitipa,0,0,1,1,1.000,1,0,1,0,0,0,1,0,0,0,0,0,1,1,14.0,1,0.7677,0.7468,0.5938,0.760383,0.73965,0.589033,0.732867,0.72015,0.575825
2,101012150022,0003-003,1,101,Chitipa,0,0,0,1,1.000,0,0,0,0,0,0,0,0,0,0,0,0,1,1,9.0,1,0.7677,0.7468,0.5938,0.760383,0.73965,0.589033,0.732867,0.72015,0.575825
3,101012150074,0004-001,1,101,Chitipa,1,0,1,1,1.125,1,0,1,0,0,0,1,0,0,0,0,0,1,1,0.0,0,0.7677,0.7468,0.5938,0.760383,0.73965,0.589033,0.732867,0.72015,0.575825
4,101012150038,0005-001,1,101,Chitipa,0,0,0,1,1.000,0,0,1,0,0,0,0,0,0,0,0,0,1,1,15.0,1,0.7677,0.7468,0.5938,0.760383,0.73965,0.589033,0.732867,0.72015,0.575825

In [224]:
final_dataset_16.shape

(2507, 35)

In [225]:
final_dataset_16 = final_dataset_16.merge(city_16_2, left_on="city_name", right_index=True, how="left")
final_dataset_16['region'] = final_dataset_16['city_code'].apply(replacer)
final_dataset_16.iloc[:,35:].isnull().sum()

Beans_MA3          1166
Groundnuts_MA3     1116
Maize_MA3           702
Rice_MA3           1225
Beans_MA6          1166
Groundnuts_MA6     1116
Maize_MA6           702
Rice_MA6           1225
Beans_MA12         1166
Groundnuts_MA12    1116
Maize_MA12          702
Rice_MA12          1225
region                0
dtype: int64

In [226]:
final_16 = fill_null(final_dataset_16, regional_16_2)

In [227]:
final_16.head()

,case_id,y3_hhid,rural,city_code,city_name,permanent_cons,elect,cellphone,male_head,educ_mean,radio,tv,bicycle,motorcycle,car,computer,bed,refrigerator,fan,lorry,minibus,kerosene_stove,cultivate_land,livestock,fs_score,food_insecure,petrol_3m,diesel_3m,kerosene_3m,petrol_6m,diesel_6m,kerosene_6m,petrol_12m,diesel_12m,kerosene_12m,Beans_MA3,Groundnuts_MA3,Maize_MA3,Rice_MA3,Beans_MA6,Groundnuts_MA6,Maize_MA6,Rice_MA6,Beans_MA12,Groundnuts_MA12,Maize_MA12,Rice_MA12
0,101012150028,0001-002,1,101,Chitipa,0,0,0,0,1.000,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0,0.7677,0.7468,0.5938,0.760383,0.73965,0.589033,0.732867,0.72015,0.575825,0.461117,0.4697,0.154989,0.565083,0.454633,0.469592,0.142494,0.562742,0.450342,0.473556,0.144703,0.531529
1,101012150022,0003-001,1,101,Chitipa,0,0,1,1,1.000,1,0,1,0,0,0,1,0,0,0,0,0,1,1,14.0,1,0.7677,0.7468,0.5938,0.760383,0.73965,0.589033,0.732867,0.72015,0.575825,0.461117,0.4697,0.154989,0.565083,0.454633,0.469592,0.142494,0.562742,0.450342,0.473556,0.144703,0.531529
2,101012150022,0003-003,1,101,Chitipa,0,0,0,1,1.000,0,0,0,0,0,0,0,0,0,0,0,0,1,1,9.0,1,0.7677,0.7468,0.5938,0.760383,0.73965,0.589033,0.732867,0.72015,0.575825,0.461117,0.4697,0.154989,0.565083,0.454633,0.469592,0.142494,0.562742,0.450342,0.473556,0.144703,0.531529
3,101012150074,0004-001,1,101,Chitipa,1,0,1,1,1.125,1,0,1,0,0,0,1,0,0,0,0,0,1,1,0.0,0,0.7677,0.7468,0.5938,0.760383,0.73965,0.589033,0.732867,0.72015,0.575825,0.461117,0.4697,0.154989,0.565083,0.454633,0.469592,0.142494,0.562742,0.450342,0.473556,0.144703,0.531529
4,101012150038,0005-001,1,101,Chitipa,0,0,0,1,1.000,0,0,1,0,0,0,0,0,0,0,0,0,1,1,15.0,1,0.7677,0.7468,0.5938,0.760383,0.73965,0.589033,0.732867,0.72015,0.575825,0.461117,0.4697,0.154989,0.565083,0.454633,0.469592,0.142494,0.562742,0.450342,0.473556,0.144703,0.531529

In [228]:
final_16.shape

(2507, 47)

In [231]:
final_16.to_csv('/content/Malawi2010-2019/final_16.csv')

##### 2019

In [203]:
breadwinner_sex_19.columns=['y4_hhid', 'male_head']
educ_mean_19.columns = ['educ_mean']

In [204]:
final_dataset_19 = merge_final([imp_hh_data_19, imp_housing_19, breadwinner_sex_19, educ_mean_19, imp_durable_19, imp_agri_19, fs_indicator_19], 'y4_hhid')

In [205]:
def make_fuel_col(final_dataset):
    final_dataset['petrol_3m'] = np.nan
    final_dataset['diesel_3m'] = np.nan
    final_dataset['kerosene_3m'] = np.nan
    final_dataset['petrol_6m'] = np.nan
    final_dataset['diesel_6m'] = np.nan
    final_dataset['kerosene_6m'] = np.nan
    final_dataset['petrol_12m'] = np.nan
    final_dataset['diesel_12m'] = np.nan
    final_dataset['kerosene_12m'] = np.nan
make_fuel_col(final_dataset_19)

In [206]:
final_dataset_19['petrol_3m'] = final_dataset_19['petrol_3m'].fillna(fuel_3m_19.query('commodity == "petrol"')['usdprice_avg'].values[0])
final_dataset_19['diesel_3m'] = final_dataset_19['diesel_3m'].fillna(fuel_3m_19.query('commodity == "diesel"')['usdprice_avg'].values[0])
final_dataset_19['kerosene_3m'] = final_dataset_19['kerosene_3m'].fillna(fuel_3m_19.query('commodity == "kerosene"')['usdprice_avg'].values[0])
final_dataset_19['petrol_6m'] = final_dataset_19['petrol_6m'].fillna(fuel_6m_19.query('commodity == "petrol"')['usdprice_avg'].values[0])
final_dataset_19['diesel_6m'] = final_dataset_19['diesel_6m'].fillna(fuel_6m_19.query('commodity == "diesel"')['usdprice_avg'].values[0])
final_dataset_19['kerosene_6m'] = final_dataset_19['kerosene_6m'].fillna(fuel_6m_19.query('commodity == "kerosene"')['usdprice_avg'].values[0])
final_dataset_19['petrol_12m'] = final_dataset_19['petrol_12m'].fillna(fuel_12m_19.query('commodity == "petrol"')['usdprice_avg'].values[0])
final_dataset_19['diesel_12m'] = final_dataset_19['diesel_12m'].fillna(fuel_12m_19.query('commodity == "diesel"')['usdprice_avg'].values[0])
final_dataset_19['kerosene_12m'] = final_dataset_19['kerosene_12m'].fillna(fuel_12m_19.query('commodity == "kerosene"')['usdprice_avg'].values[0])

In [207]:
final_dataset_19.head()

,case_id,y4_hhid,rural,city_code,city_name,permanent_cons,elect,cellphone,male_head,educ_mean,radio,tv,bicycle,motorcycle,car,computer,bed,refrigerator,fan,lorry,minibus,kerosene_stove,cultivate_land,livestock,fs_score,food_insecure,petrol_3m,diesel_3m,kerosene_3m,petrol_6m,diesel_6m,kerosene_6m,petrol_12m,diesel_12m,kerosene_12m
0,101012150028,0001-002,1,101,Chitipa,1,0,0,0,1.000000,0,0,0,0,0,0,0,0,0,0,0,0,1,1,4.0,1,0.8453,0.8511,0.6919,0.8453,0.8511,0.6919,0.859725,0.866683,0.703725
1,101012150028,0001-005,0,101,Chitipa,1,0,1,1,1.000000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,15.0,1,0.8453,0.8511,0.6919,0.8453,0.8511,0.6919,0.859725,0.866683,0.703725
2,101012150022,0002-001,1,101,Chitipa,0,0,0,1,1.142857,0,0,1,0,0,0,1,0,0,0,0,0,1,1,0.0,0,0.8453,0.8511,0.6919,0.8453,0.8511,0.6919,0.859725,0.866683,0.703725
3,101012150022,0002-005,1,101,Chitipa,0,0,0,1,1.000000,0,0,1,0,0,0,1,0,0,0,0,0,1,1,0.0,0,0.8453,0.8511,0.6919,0.8453,0.8511,0.6919,0.859725,0.866683,0.703725
4,101012150022,0002-006,1,101,Chitipa,0,0,0,1,1.000000,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0.0,0,0.8453,0.8511,0.6919,0.8453,0.8511,0.6919,0.859725,0.866683,0.703725

In [208]:
final_dataset_19.shape

(3176, 35)

In [209]:
final_dataset_19 = final_dataset_19.merge(city_19_2, left_on="city_name", right_index=True, how="left")
final_dataset_19['region'] = final_dataset_19['city_code'].apply(replacer)
final_dataset_19.iloc[:,35:].isnull().sum()

Beans_MA3          1976
Groundnuts_MA3     1940
Maize_MA3          1230
Rice_MA3           2105
Beans_MA6          1976
Groundnuts_MA6     1940
Maize_MA6          1230
Rice_MA6           2105
Beans_MA12         1976
Groundnuts_MA12    1940
Maize_MA12         1230
Rice_MA12          2105
region                0
dtype: int64

In [210]:
final_19 = fill_null(final_dataset_19, regional_19_2)

In [211]:
final_19.head()

,case_id,y4_hhid,rural,city_code,city_name,permanent_cons,elect,cellphone,male_head,educ_mean,radio,tv,bicycle,motorcycle,car,computer,bed,refrigerator,fan,lorry,minibus,kerosene_stove,cultivate_land,livestock,fs_score,food_insecure,petrol_3m,diesel_3m,kerosene_3m,petrol_6m,diesel_6m,kerosene_6m,petrol_12m,diesel_12m,kerosene_12m,Beans_MA3,Groundnuts_MA3,Maize_MA3,Rice_MA3,Beans_MA6,Groundnuts_MA6,Maize_MA6,Rice_MA6,Beans_MA12,Groundnuts_MA12,Maize_MA12,Rice_MA12
0,101012150028,0001-002,1,101,Chitipa,1,0,0,0,1.000000,0,0,0,0,0,0,0,0,0,0,0,0,1,1,4.0,1,0.8453,0.8511,0.6919,0.8453,0.8511,0.6919,0.859725,0.866683,0.703725,0.71305,0.700244,0.149206,0.728274,0.642436,0.690842,0.142304,0.707492,0.67695,0.67682,0.126824,0.717631
1,101012150028,0001-005,0,101,Chitipa,1,0,1,1,1.000000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,15.0,1,0.8453,0.8511,0.6919,0.8453,0.8511,0.6919,0.859725,0.866683,0.703725,0.71305,0.700244,0.149206,0.728274,0.642436,0.690842,0.142304,0.707492,0.67695,0.67682,0.126824,0.717631
2,101012150022,0002-001,1,101,Chitipa,0,0,0,1,1.142857,0,0,1,0,0,0,1,0,0,0,0,0,1,1,0.0,0,0.8453,0.8511,0.6919,0.8453,0.8511,0.6919,0.859725,0.866683,0.703725,0.71305,0.700244,0.149206,0.728274,0.642436,0.690842,0.142304,0.707492,0.67695,0.67682,0.126824,0.717631
3,101012150022,0002-005,1,101,Chitipa,0,0,0,1,1.000000,0,0,1,0,0,0,1,0,0,0,0,0,1,1,0.0,0,0.8453,0.8511,0.6919,0.8453,0.8511,0.6919,0.859725,0.866683,0.703725,0.71305,0.700244,0.149206,0.728274,0.642436,0.690842,0.142304,0.707492,0.67695,0.67682,0.126824,0.717631
4,101012150022,0002-006,1,101,Chitipa,0,0,0,1,1.000000,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0.0,0,0.8453,0.8511,0.6919,0.8453,0.8511,0.6919,0.859725,0.866683,0.703725,0.71305,0.700244,0.149206,0.728274,0.642436,0.690842,0.142304,0.707492,0.67695,0.67682,0.126824,0.717631

In [212]:
final_19.shape

(3176, 47)

In [213]:
final_19.to_csv('/content/Malawi2010-2019/final_19.csv')

Predictor and target:

imp_hh_data_xx - Module A: Household Identification: reside (urban/rural), hh_a01 (DISTRICT)
 
imp_housing_xx - Module F: Housing: hh_f01 (house owenership), hh_f19 (electricity), hh_f34 (cellphone numbers) 

fs_indicator_xx - Module H: Food Security: hh_h01 - hh_h04 

breadwinner_sex_xx - Module B: Household Roster (sex of head): hh_b03, hh_b04 

educ_mean_xx - Module C: Education: hh_c09 (highest education) 

imp_durable_xx - Module L:  Durable Goods: hh_l02 (Radio, TV, Car, Motorcycle, Computer) 

poverty_xx - Module T: Subjective Assessment of Well-being / Poverty indicator (optional) 

imp_agri_xx - Module X: Filter Questions for Agriculture and Fishery: hh_x10 (cultivate plot), hh_x11 (livestock)

Descriptive statistics:

hh_mod_g2_10: Food Group Consumption per Week

# EDA

### Data Viz

In [166]:
g2_10 = pd.read_csv('/content/drive/MyDrive/Malawi 2010-2019/hh_mod_g2_10.csv')
g2_10.head()

,HHID,case_id,qx_type,visit,ea_id,hh_g08a,hh_g08b,hh_g08c
0,21,101012150001,Panel A,1,10101215,A,"Cereals, Grains and Cereal Products",7.0
1,21,101012150001,Panel A,1,10101215,B,"Root, Tubers and Plantains",5.0
2,21,101012150001,Panel A,1,10101215,C,Nuts and Pulses,2.0
3,21,101012150001,Panel A,1,10101215,D,Vegetables,5.0
4,21,101012150001,Panel A,1,10101215,E,"Meat, Fish and Animal Products",0.0

In [167]:
food_con_freq = g2_10.groupby('hh_g08b').sum()['hh_g08c']/g2_10.case_id.nunique()
food_con_freq = food_con_freq.sort_values()
food_con_freq.index = ['Milk/Milk Products', 'Fruits', 'Nuts and Pulses',
       'Root, Tubers<br>and Plantains', 'Animal Products',
       'Fats/Oil', 'Sugar/Honey', 'Vegetables',
       'Spices/Condiments', 'Cereals/Grains']
fig = px.bar(food_con_freq, orientation = 'h', title='<b>Average Frequency (Number of Days per Week) of Food Consumption in 2010</b>', height=600, width=800, text_auto=True)
fig.update_layout(showlegend=False, yaxis_title=None, xaxis_title='Average Frequency (Days per Week)')
colors =  ['#D3D3D3'] * 7 + ['#FF7F0E']*3
fig.data[0].marker.color = colors
fig.data[0].hovertemplate = 'Food group=%{y}<br>Avg. frequency=%{x:.2f}<extra></extra>'
fig.data[0].texttemplate = '%{x:.2f}'
fig.add_annotation(xref='x domain', yref="y domain", x=0.5, y=1.045, font_size=14,
                   text="<i>Grains/ cereal, spices, and vegetables are the most frequently consumed food groups</i>", showarrow=False)